.monthWrapper{ 
	height: 100%; 
	width: 100%; 
	background: white;
	overflow: hidden;
	.fatCaption {
		padding-left: 110px;
		width: calc(100% - 330px);
		text-transform: capitalize;
	}
	.closeBut {
		float: none;
	}
	.leftArrow {
		height: 100%;
		width: 100px;
		float: left;
		background: url("images/iconArrowBack30x50.svg");
		background-repeat: no-repeat;
		background-position: 30px;
		background-size: 40px;
	}
	.rightArrow {
		height: 100%;
		width: 100px;
		float: right;
		background: url("images/iconArrowFwd30x50.svg");
		background-repeat: no-repeat;
		background-position: 30px;
		background-size: 40px;
	}
	.monthTableWrapper {
		padding: 20px 10px;
		height: calc(100% - 180px);
		float: left;
		width: calc(100% - 220px);
		table { 
			margin: auto; 
			height: 100%;
			width: 100%;
			color: $textgray;
			td {
			    padding: 0px;
			    //text-align: left;
			    //vertical-align: top;
			    border: 1px solid #E6E6E6;
			    font-size: 21px;
			    font-weight: 600;
			    width: 1000px;
			    vertical-align: top;
			    .bottomDate {
			        position: relative;
			        text-align: right;
			        float: right;
			        margin: calc(100% - 48px) 10px 10px 0;
			    }
			    .eventNotifCont {
			    	width: calc(100% - 44px);
			    	display: inline-block;
			    	.eventNotif {
			    		width: calc(100% + 34px);
			    		display: inline-block;
			    		padding: 3px 0 3px 10px;
			    		background: $blue;
			    		color: white;
			    	}
			    	.eventNotif.blue {
						background: $blue;
			    	}
			    	.eventNotif.orange {
						background: $orange;
			    	}
			    	.eventNotif.gray {
						background: $gray;
			    	}
			    	.eventNotif.green {
						background: $green;
			    	}
			    	.eventNotif.yellow {
						background: $yellow;
						color: $textgray;
			    	}
			    }
			}
			.today {
				.bottomDate {
					background: red;
					border-radius: 50%;
					height: 34px;
					width: 34px;
					text-align: center;
					color: white;
					line-height: 34px;
				}
			}
			td.multi {
				background: #999999 !important;
				.bottomDate {
					color: white;
				}
			}
			td.blue {
				background: $blue;
				.bottomDate {
					color: white;
				}
			}
			td.orange {
				background: $orange;
				.bottomDate {
					color: white;
				}
			}
			td.gray {
				background: $gray;
				.bottomDate {
					color: white;
				}
			}
			td.green {
				background: $green;
				.bottomDate {
					color: white;
				}
			}
			td.yellow {
				background: $yellow;
				color: $textgray;
			}
			.prevMonDay, .nextMonDay, .prevMonth, .nextMonth { 
				opacity: .3;
				background: #BBBBBB;
				font-weight: normal;
			} 
			th {
				height: 50px;
				font-weight: normal;
				font-size: 18px;
			}
			.adjustmentRow {
				height: 0;
				overflow: hidden;
				opacity: 0;
				* {
					height: 0;
					line-height: 0;
					border: 0;
				}
			}
		}
	}
} 

.sixRow {
	.monthTableWrapper {
		.monthTable{
			td{
				.bottomDate{
					margin: calc(100% - 75px) 10px 10px 0;
				}
			}
		}
	}
}


.goLeft.ng-enter, .goLeft.ng-leave {
	position: absolute;
	left: 0;
	right: 0;
	transition:all .3s ease-out;
}

.goLeft.ng-enter {
	transform:translate3d(100%, 0, 0);
}

.goLeft.ng-enter-active {
  transform:translate3d(0, 0, 0);
}

.goLeft.ng-leave {
  transform:translate3d(0, 0, 0);
}

.goLeft.ng-leave-active {
  transform:translate3d(-100%, 0, 0);
}



.goRight.ng-enter, .goRight.ng-leave {
	position: absolute;
	left: 0;
	right: 0;
	transition:all .3s ease-out;
}

.goRight.ng-enter {
	transform:translate3d(100%, 0, 0);
}

.goRight.ng-enter-active {
  transform:translate3d(0, 0, 0);
}

.goRight.ng-leave {
  transform:translate3d(0, 0, 0);
}

.goRight.ng-leave-active {
  transform:translate3d(-100%, 0, 0);
}