.modal-wrapper {
	background: white;
	height: 100%;
	.event-title {
		font-size: 28px;
		margin: 12px 0 6px !important;
		font-weight: 600;
	}
	.event-description {
		font-size: 18px;
	}
	#modal-inner-wrapper.lecture {
		padding: 30px 100px;
		.teacher-name {
			font-weight: 600;
			margin: .3em 0;
			color: $textgray;
		}
		.lecture-type {
			font-style: italic;
			margin: .5em 0;
			color: $textgray;
		}
		.lecture-time {
			margin: .5em 0;
			color: $blue;
			text-transform: capitalize;
		}
		.lecture-time.orange {
			color: $orange;
		}
		.lecture-location {
			margin: .5em 0;
			color: $textgray;
		}
	}
	#modal-inner-wrapper.arrows {
		display: flex;
		flex-direction: row;
		height: calc(100% - 100px);
		#modal-info-container {
			flex: 1 1 0;
			overflow-y: auto;
			padding: 30px 0;
		}
		.left-arrow, .right-arrow {
			width: 100px;
			display: block;
			background: white;
			flex: 0 0 auto;
			cursor: pointer;
			.arrow-container {
				height: 50px;
				width: 30px;
				background: url(/assets/svg/iconArrowBack30x50.svg);
				margin: calc(50vh - 75px) auto;
			}
		}
		.right-arrow {
			.arrow-container {
				background: url(/assets/svg/iconArrowFwd30x50.svg);
			}
		}
		.left-arrow:hover, .right-arrow:hover {
			background: #eee;
		}
	}
}