<div>
    <div>
        <h2>Promena lozinke</h2>
        <hr>
        <form ng-submit="onSubmit()">
            <div class="form-group">
                <label for="password">Nova lozinka</label>
                <input id="password" type="password" ng-model="password.password" class="form-control"
                       ng-required="true"/>
            </div>
            <div class="form-group">
                <label for="password_confirmation">Potvrda nove lozinke</label>
                <input id="password_confirmation" type="password" ng-model="password.confirmation" ng-required="true"
                       class="form-control"/>
            </div>
            <div class="form-group">
                <button type="button" ui-sref="home" class="btn btn-alert">Odustani</button>
                <button type="submit" class="btn btn-primary">Sacuvaj</button>
            </div>
        </form>
    </div>
</div>