#android-wrapper {
	background: white;
	min-height: 100%;
	padding: 0 100px;
	#left {
		width: 50%;
		margin-right: 5%;
		padding-top: 250px;
		float: left; 
		h1 {
			@include font-size-text-verybig();
			font-weight: 700;
			color: $textgray;
			margin-bottom: 1em;
		}
		p {
			@include font-size-text-big();
			color: $textgray;
		}
		img {
			margin-top: 100px;
		}
	}
	#screenshot-img {
		float: left; 
		margin-top: 100px;
		@media screen and (max-width: 1919px) {
			float: none;
		}
	}
}