<div id="yearWrapper" ng-controller="yearlyCtrl">

<div class="yearHeader">2015</div>

<div class="yearMonthWrapper fiveRow" ui-sref="calendar.months({monNumber: 9})"><div class="yearMonthTableWrapper"><table id="month9" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Септембар</td></tr>
	<tr>
		<td id="prevm9d31" class="prevMonDay">31</td>
		<td id="m9d1" class="yearDayTd">1</td>
		<td id="m9d2" class="yearDayTd">2</td>
		<td id="m9d3" class="yearDayTd">3</td>
		<td id="m9d4" class="yearDayTd">4</td>
		<td id="m9d5" class="yearDayTd">5</td>
		<td id="m9d6" class="yearDayTd">6</td>
	</tr>
	<tr>
		<td id="m9d7" class="yearDayTd">7</td>
		<td id="m9d8" class="yearDayTd">8</td>
		<td id="m9d9" class="yearDayTd">9</td>
		<td id="m9d10" class="yearDayTd">10</td>
		<td id="m9d11" class="yearDayTd">11</td>
		<td id="m9d12" class="yearDayTd">12</td>
		<td id="m9d13" class="yearDayTd">13</td>
	</tr>
	<tr>
		<td id="m9d14" class="yearDayTd">14</td>
		<td id="m9d15" class="yearDayTd">15</td>
		<td id="m9d16" class="yearDayTd">16</td>
		<td id="m9d17" class="yearDayTd">17</td>
		<td id="m9d18" class="yearDayTd">18</td>
		<td id="m9d19" class="yearDayTd">19</td>
		<td id="m9d20" class="yearDayTd">20</td>
	</tr>
	<tr>
		<td id="m9d21" class="yearDayTd">21</td>
		<td id="m9d22" class="yearDayTd">22</td>
		<td id="m9d23" class="yearDayTd">23</td>
		<td id="m9d24" class="yearDayTd">24</td>
		<td id="m9d25" class="yearDayTd">25</td>
		<td id="m9d26" class="yearDayTd">26</td>
		<td id="m9d27" class="yearDayTd">27</td>
	</tr>
	<tr>
		<td id="m9d28" class="yearDayTd">28</td>
		<td id="m9d29" class="yearDayTd">29</td>
		<td id="m9d30" class="yearDayTd">30</td>
		<td id="prevm9d2" class="nextMonDay">1</td>
		<td id="prevm9d3" class="nextMonDay">2</td>
		<td id="prevm9d4" class="nextMonDay">3</td>
		<td id="prevm9d5" class="nextMonDay">4</td>
	</tr>
</table></div>
 </div>

<div class="yearMonthWrapper fiveRow" ui-sref="calendar.months({monNumber: 10})"><div class="yearMonthTableWrapper"><table id="month10" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Октобар</td></tr>
	<tr>
		<td id="prevm10d28" class="prevMonDay">28</td>
		<td id="prevm10d29" class="prevMonDay">29</td>
		<td id="prevm10d30" class="prevMonDay">30</td>
		<td id="m10d1" class="yearDayTd">1</td>
		<td id="m10d2" class="yearDayTd">2</td>
		<td id="m10d3" class="yearDayTd">3</td>
		<td id="m10d4" class="yearDayTd">4</td>
	</tr>
	<tr>
		<td id="m10d5" class="yearDayTd">5</td>
		<td id="m10d6" class="yearDayTd">6</td>
		<td id="m10d7" class="yearDayTd">7</td>
		<td id="m10d8" class="yearDayTd">8</td>
		<td id="m10d9" class="yearDayTd">9</td>
		<td id="m10d10" class="yearDayTd">10</td>
		<td id="m10d11" class="yearDayTd">11</td>
	</tr>
	<tr>
		<td id="m10d12" class="yearDayTd">12</td>
		<td id="m10d13" class="yearDayTd">13</td>
		<td id="m10d14" class="yearDayTd">14</td>
		<td id="m10d15" class="yearDayTd">15</td>
		<td id="m10d16" class="yearDayTd">16</td>
		<td id="m10d17" class="yearDayTd">17</td>
		<td id="m10d18" class="yearDayTd">18</td>
	</tr>
	<tr>
		<td id="m10d19" class="yearDayTd">19</td>
		<td id="m10d20" class="yearDayTd">20</td>
		<td id="m10d21" class="yearDayTd">21</td>
		<td id="m10d22" class="yearDayTd">22</td>
		<td id="m10d23" class="yearDayTd">23</td>
		<td id="m10d24" class="yearDayTd">24</td>
		<td id="m10d25" class="yearDayTd">25</td>
	</tr>
	<tr>
		<td id="m10d26" class="yearDayTd">26</td>
		<td id="m10d27" class="yearDayTd">27</td>
		<td id="m10d28" class="yearDayTd">28</td>
		<td id="m10d29" class="yearDayTd">29</td>
		<td id="m10d30" class="yearDayTd">30</td>
		<td id="m10d31" class="yearDayTd">31</td>
		<td id="prevm10d2" class="nextMonDay">1</td><tr></tr>
	</tr>
</table></div>
 </div>

<div class="yearMonthWrapper sixRow" ui-sref="calendar.months({monNumber: 11})"><div class="yearMonthTableWrapper"><table id="month11" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Новембар</td></tr>
	<tr>
		<td id="prevm11d26" class="prevMonDay">26</td>
		<td id="prevm11d27" class="prevMonDay">27</td>
		<td id="prevm11d28" class="prevMonDay">28</td>
		<td id="prevm11d29" class="prevMonDay">29</td>
		<td id="prevm11d30" class="prevMonDay">30</td>
		<td id="prevm11d31" class="prevMonDay">31</td>
		<td id="m11d1" class="yearDayTd">1</td>
	</tr>
	<tr>
		<td id="m11d2" class="yearDayTd">2</td>
		<td id="m11d3" class="yearDayTd">3</td>
		<td id="m11d4" class="yearDayTd">4</td>
		<td id="m11d5" class="yearDayTd">5</td>
		<td id="m11d6" class="yearDayTd">6</td>
		<td id="m11d7" class="yearDayTd">7</td>
		<td id="m11d8" class="yearDayTd">8</td>
	</tr>
	<tr>
		<td id="m11d9" class="yearDayTd">9</td>
		<td id="m11d10" class="yearDayTd">10</td>
		<td id="m11d11" class="yearDayTd">11</td>
		<td id="m11d12" class="yearDayTd">12</td>
		<td id="m11d13" class="yearDayTd">13</td>
		<td id="m11d14" class="yearDayTd">14</td>
		<td id="m11d15" class="yearDayTd">15</td>
	</tr>
	<tr>
		<td id="m11d16" class="yearDayTd">16</td>
		<td id="m11d17" class="yearDayTd">17</td>
		<td id="m11d18" class="yearDayTd">18</td>
		<td id="m11d19" class="yearDayTd">19</td>
		<td id="m11d20" class="yearDayTd">20</td>
		<td id="m11d21" class="yearDayTd">21</td>
		<td id="m11d22" class="yearDayTd">22</td>
	</tr>
	<tr>
		<td id="m11d23" class="yearDayTd">23</td>
		<td id="m11d24" class="yearDayTd">24</td>
		<td id="m11d25" class="yearDayTd">25</td>
		<td id="m11d26" class="yearDayTd">26</td>
		<td id="m11d27" class="yearDayTd">27</td>
		<td id="m11d28" class="yearDayTd">28</td>
		<td id="m11d29" class="yearDayTd">29</td>
	</tr>
	<tr>
		<td id="m11d30" class="yearDayTd">30</td>
		<td id="prevm11d2" class="nextMonDay">1</td>
		<td id="prevm11d3" class="nextMonDay">2</td>
		<td id="prevm11d4" class="nextMonDay">3</td>
		<td id="prevm11d5" class="nextMonDay">4</td>
		<td id="prevm11d6" class="nextMonDay">5</td>
		<td id="prevm11d7" class="nextMonDay">6</td>
	</tr>
</table></div>
 </div>

<div class="yearMonthWrapper fiveRow" ui-sref="calendar.months({monNumber: 12})"><div class="yearMonthTableWrapper"><table id="month12" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Децембар</td></tr>
	<tr>
		<td id="prevm12d30" class="prevMonDay">30</td>
		<td id="m12d1" class="yearDayTd">1</td>
		<td id="m12d2" class="yearDayTd">2</td>
		<td id="m12d3" class="yearDayTd">3</td>
		<td id="m12d4" class="yearDayTd">4</td>
		<td id="m12d5" class="yearDayTd">5</td>
		<td id="m12d6" class="yearDayTd">6</td>
	</tr>
	<tr>
		<td id="m12d7" class="yearDayTd">7</td>
		<td id="m12d8" class="yearDayTd">8</td>
		<td id="m12d9" class="yearDayTd">9</td>
		<td id="m12d10" class="yearDayTd">10</td>
		<td id="m12d11" class="yearDayTd">11</td>
		<td id="m12d12" class="yearDayTd">12</td>
		<td id="m12d13" class="yearDayTd">13</td>
	</tr>
	<tr>
		<td id="m12d14" class="yearDayTd">14</td>
		<td id="m12d15" class="yearDayTd">15</td>
		<td id="m12d16" class="yearDayTd">16</td>
		<td id="m12d17" class="yearDayTd">17</td>
		<td id="m12d18" class="yearDayTd">18</td>
		<td id="m12d19" class="yearDayTd">19</td>
		<td id="m12d20" class="yearDayTd">20</td>
	</tr>
	<tr>
		<td id="m12d21" class="yearDayTd">21</td>
		<td id="m12d22" class="yearDayTd">22</td>
		<td id="m12d23" class="yearDayTd">23</td>
		<td id="m12d24" class="yearDayTd">24</td>
		<td id="m12d25" class="yearDayTd">25</td>
		<td id="m12d26" class="yearDayTd">26</td>
		<td id="m12d27" class="yearDayTd">27</td>
	</tr>
	<tr>
		<td id="m12d28" class="yearDayTd">28</td>
		<td id="m12d29" class="yearDayTd">29</td>
		<td id="m12d30" class="yearDayTd">30</td>
		<td id="m12d31" class="yearDayTd">31</td>
		<td id="prevm12d2" class="nextMonDay">1</td>
		<td id="prevm12d3" class="nextMonDay">2</td>
		<td id="prevm12d4" class="nextMonDay">3</td><tr></tr>
	</tr>
</table></div>
 </div>

 <div class="yearHeader">2016</div>

<div class="yearMonthWrapper sixRow" ui-sref="calendar.months({monNumber: 13})"><div class="yearMonthTableWrapper"><table id="month13" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Јануар</td></tr>
	<tr>
		<td id="prevm13d28" class="prevMonDay">28</td>
		<td id="prevm13d29" class="prevMonDay">29</td>
		<td id="prevm13d30" class="prevMonDay">30</td>
		<td id="prevm13d31" class="prevMonDay">31</td>
		<td id="m13d1" class="yearDayTd">1</td>
		<td id="m13d2" class="yearDayTd">2</td>
		<td id="m13d3" class="yearDayTd">3</td>
	</tr>
	<tr>
		<td id="m13d4" class="yearDayTd">4</td>
		<td id="m13d5" class="yearDayTd">5</td>
		<td id="m13d6" class="yearDayTd">6</td>
		<td id="m13d7" class="yearDayTd">7</td>
		<td id="m13d8" class="yearDayTd">8</td>
		<td id="m13d9" class="yearDayTd">9</td>
		<td id="m13d10" class="yearDayTd">10</td>
	</tr>
	<tr>
		<td id="m13d11" class="yearDayTd">11</td>
		<td id="m13d12" class="yearDayTd">12</td>
		<td id="m13d13" class="yearDayTd">13</td>
		<td id="m13d14" class="yearDayTd">14</td>
		<td id="m13d15" class="yearDayTd">15</td>
		<td id="m13d16" class="yearDayTd">16</td>
		<td id="m13d17" class="yearDayTd">17</td>
	</tr>
	<tr>
		<td id="m13d18" class="yearDayTd">18</td>
		<td id="m13d19" class="yearDayTd">19</td>
		<td id="m13d20" class="yearDayTd">20</td>
		<td id="m13d21" class="yearDayTd">21</td>
		<td id="m13d22" class="yearDayTd">22</td>
		<td id="m13d23" class="yearDayTd">23</td>
		<td id="m13d24" class="yearDayTd">24</td>
	</tr>
	<tr>
		<td id="m13d25" class="yearDayTd">25</td>
		<td id="m13d26" class="yearDayTd">26</td>
		<td id="m13d27" class="yearDayTd">27</td>
		<td id="m13d28" class="yearDayTd">28</td>
		<td id="m13d29" class="yearDayTd">29</td>
		<td id="m13d30" class="yearDayTd">30</td>
		<td id="m13d31" class="yearDayTd">31</td>
	</tr>
	<tr>
	</tr>
</table></div>
 </div>

<div class="yearMonthWrapper fiveRow" ui-sref="calendar.months({monNumber: 14})"><div class="yearMonthTableWrapper"><table id="month14" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Фебруар</td></tr>
	<tr>
		<td id="m14d1" class="yearDayTd">1</td>
		<td id="m14d2" class="yearDayTd">2</td>
		<td id="m14d3" class="yearDayTd">3</td>
		<td id="m14d4" class="yearDayTd">4</td>
		<td id="m14d5" class="yearDayTd">5</td>
		<td id="m14d6" class="yearDayTd">6</td>
		<td id="m14d7" class="yearDayTd">7</td>
	</tr>
	<tr>
		<td id="m14d8" class="yearDayTd">8</td>
		<td id="m14d9" class="yearDayTd">9</td>
		<td id="m14d10" class="yearDayTd">10</td>
		<td id="m14d11" class="yearDayTd">11</td>
		<td id="m14d12" class="yearDayTd">12</td>
		<td id="m14d13" class="yearDayTd">13</td>
		<td id="m14d14" class="yearDayTd">14</td>
	</tr>
	<tr>
		<td id="m14d15" class="yearDayTd">15</td>
		<td id="m14d16" class="yearDayTd">16</td>
		<td id="m14d17" class="yearDayTd">17</td>
		<td id="m14d18" class="yearDayTd">18</td>
		<td id="m14d19" class="yearDayTd">19</td>
		<td id="m14d20" class="yearDayTd">20</td>
		<td id="m14d21" class="yearDayTd">21</td>
	</tr>
	<tr>
		<td id="m14d22" class="yearDayTd">22</td>
		<td id="m14d23" class="yearDayTd">23</td>
		<td id="m14d24" class="yearDayTd">24</td>
		<td id="m14d25" class="yearDayTd">25</td>
		<td id="m14d26" class="yearDayTd">26</td>
		<td id="m14d27" class="yearDayTd">27</td>
		<td id="m14d28" class="yearDayTd">28</td>
	</tr>
	<tr>
		<td id="m14d29" class="yearDayTd">29</td>
		<td id="prevm14d2" class="nextMonDay">1</td>
		<td id="prevm14d3" class="nextMonDay">2</td>
		<td id="prevm14d4" class="nextMonDay">3</td>
		<td id="prevm14d5" class="nextMonDay">4</td>
		<td id="prevm14d6" class="nextMonDay">5</td>
		<td id="prevm14d7" class="nextMonDay">6</td>
	</tr>
</table></div>
 </div>

<div class="yearMonthWrapper fiveRow" ui-sref="calendar.months({monNumber: 15})"><div class="yearMonthTableWrapper"><table id="month15" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Март</td></tr>
	<tr>
		<td id="prevm15d29" class="prevMonDay">29</td>
		<td id="m15d1" class="yearDayTd">1</td>
		<td id="m15d2" class="yearDayTd">2</td>
		<td id="m15d3" class="yearDayTd">3</td>
		<td id="m15d4" class="yearDayTd">4</td>
		<td id="m15d5" class="yearDayTd">5</td>
		<td id="m15d6" class="yearDayTd">6</td>
	</tr>
	<tr>
		<td id="m15d7" class="yearDayTd">7</td>
		<td id="m15d8" class="yearDayTd">8</td>
		<td id="m15d9" class="yearDayTd">9</td>
		<td id="m15d10" class="yearDayTd">10</td>
		<td id="m15d11" class="yearDayTd">11</td>
		<td id="m15d12" class="yearDayTd">12</td>
		<td id="m15d13" class="yearDayTd">13</td>
	</tr>
	<tr>
		<td id="m15d14" class="yearDayTd">14</td>
		<td id="m15d15" class="yearDayTd">15</td>
		<td id="m15d16" class="yearDayTd">16</td>
		<td id="m15d17" class="yearDayTd">17</td>
		<td id="m15d18" class="yearDayTd">18</td>
		<td id="m15d19" class="yearDayTd">19</td>
		<td id="m15d20" class="yearDayTd">20</td>
	</tr>
	<tr>
		<td id="m15d21" class="yearDayTd">21</td>
		<td id="m15d22" class="yearDayTd">22</td>
		<td id="m15d23" class="yearDayTd">23</td>
		<td id="m15d24" class="yearDayTd">24</td>
		<td id="m15d25" class="yearDayTd">25</td>
		<td id="m15d26" class="yearDayTd">26</td>
		<td id="m15d27" class="yearDayTd">27</td>
	</tr>
	<tr>
		<td id="m15d28" class="yearDayTd">28</td>
		<td id="m15d29" class="yearDayTd">29</td>
		<td id="m15d30" class="yearDayTd">30</td>
		<td id="m15d31" class="yearDayTd">31</td>
		<td id="prevm15d2" class="nextMonDay">1</td>
		<td id="prevm15d3" class="nextMonDay">2</td>
		<td id="prevm15d4" class="nextMonDay">3</td><tr></tr>
	</tr>
</table></div>
 </div>

<div class="yearMonthWrapper fiveRow" ui-sref="calendar.months({monNumber: 16})"><div class="yearMonthTableWrapper"><table id="month16" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Април</td></tr>
	<tr>
		<td id="prevm16d28" class="prevMonDay">28</td>
		<td id="prevm16d29" class="prevMonDay">29</td>
		<td id="prevm16d30" class="prevMonDay">30</td>
		<td id="prevm16d31" class="prevMonDay">31</td>
		<td id="m16d1" class="yearDayTd">1</td>
		<td id="m16d2" class="yearDayTd">2</td>
		<td id="m16d3" class="yearDayTd">3</td>
	</tr>
	<tr>
		<td id="m16d4" class="yearDayTd">4</td>
		<td id="m16d5" class="yearDayTd">5</td>
		<td id="m16d6" class="yearDayTd">6</td>
		<td id="m16d7" class="yearDayTd">7</td>
		<td id="m16d8" class="yearDayTd">8</td>
		<td id="m16d9" class="yearDayTd">9</td>
		<td id="m16d10" class="yearDayTd">10</td>
	</tr>
	<tr>
		<td id="m16d11" class="yearDayTd">11</td>
		<td id="m16d12" class="yearDayTd">12</td>
		<td id="m16d13" class="yearDayTd">13</td>
		<td id="m16d14" class="yearDayTd">14</td>
		<td id="m16d15" class="yearDayTd">15</td>
		<td id="m16d16" class="yearDayTd">16</td>
		<td id="m16d17" class="yearDayTd">17</td>
	</tr>
	<tr>
		<td id="m16d18" class="yearDayTd">18</td>
		<td id="m16d19" class="yearDayTd">19</td>
		<td id="m16d20" class="yearDayTd">20</td>
		<td id="m16d21" class="yearDayTd">21</td>
		<td id="m16d22" class="yearDayTd">22</td>
		<td id="m16d23" class="yearDayTd">23</td>
		<td id="m16d24" class="yearDayTd">24</td>
	</tr>
	<tr>
		<td id="m16d25" class="yearDayTd">25</td>
		<td id="m16d26" class="yearDayTd">26</td>
		<td id="m16d27" class="yearDayTd">27</td>
		<td id="m16d28" class="yearDayTd">28</td>
		<td id="m16d29" class="yearDayTd">29</td>
		<td id="m16d30" class="yearDayTd">30</td>
		<td id="prevm16d2" class="nextMonDay">1</td><tr></tr>
	</tr>
</table></div>
 </div>

<div class="yearMonthWrapper sixRow" ui-sref="calendar.months({monNumber: 17})"><div class="yearMonthTableWrapper"><table id="month17" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Мај</td></tr>
	<tr>
		<td id="prevm17d25" class="prevMonDay">25</td>
		<td id="prevm17d26" class="prevMonDay">26</td>
		<td id="prevm17d27" class="prevMonDay">27</td>
		<td id="prevm17d28" class="prevMonDay">28</td>
		<td id="prevm17d29" class="prevMonDay">29</td>
		<td id="prevm17d30" class="prevMonDay">30</td>
		<td id="m17d1" class="yearDayTd">1</td>
	</tr>
	<tr>
		<td id="m17d2" class="yearDayTd">2</td>
		<td id="m17d3" class="yearDayTd">3</td>
		<td id="m17d4" class="yearDayTd">4</td>
		<td id="m17d5" class="yearDayTd">5</td>
		<td id="m17d6" class="yearDayTd">6</td>
		<td id="m17d7" class="yearDayTd">7</td>
		<td id="m17d8" class="yearDayTd">8</td>
	</tr>
	<tr>
		<td id="m17d9" class="yearDayTd">9</td>
		<td id="m17d10" class="yearDayTd">10</td>
		<td id="m17d11" class="yearDayTd">11</td>
		<td id="m17d12" class="yearDayTd">12</td>
		<td id="m17d13" class="yearDayTd">13</td>
		<td id="m17d14" class="yearDayTd">14</td>
		<td id="m17d15" class="yearDayTd">15</td>
	</tr>
	<tr>
		<td id="m17d16" class="yearDayTd">16</td>
		<td id="m17d17" class="yearDayTd">17</td>
		<td id="m17d18" class="yearDayTd">18</td>
		<td id="m17d19" class="yearDayTd">19</td>
		<td id="m17d20" class="yearDayTd">20</td>
		<td id="m17d21" class="yearDayTd">21</td>
		<td id="m17d22" class="yearDayTd">22</td>
	</tr>
	<tr>
		<td id="m17d23" class="yearDayTd">23</td>
		<td id="m17d24" class="yearDayTd">24</td>
		<td id="m17d25" class="yearDayTd">25</td>
		<td id="m17d26" class="yearDayTd">26</td>
		<td id="m17d27" class="yearDayTd">27</td>
		<td id="m17d28" class="yearDayTd">28</td>
		<td id="m17d29" class="yearDayTd">29</td>
	</tr>
	<tr>
		<td id="m17d30" class="yearDayTd">30</td>
		<td id="m17d31" class="yearDayTd">31</td>
		<td id="prevm17d2" class="nextMonDay">1</td>
		<td id="prevm17d3" class="nextMonDay">2</td>
		<td id="prevm17d4" class="nextMonDay">3</td>
		<td id="prevm17d5" class="nextMonDay">4</td>
		<td id="prevm17d6" class="nextMonDay">5</td>
	</tr>
</table></div>
 </div>

<div class="yearMonthWrapper fiveRow" ui-sref="calendar.months({monNumber: 18})"><div class="yearMonthTableWrapper"><table id="month18" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Јун</td></tr>
	<tr>
		<td id="prevm18d30" class="prevMonDay">30</td>
		<td id="prevm18d31" class="prevMonDay">31</td>
		<td id="m18d1" class="yearDayTd">1</td>
		<td id="m18d2" class="yearDayTd">2</td>
		<td id="m18d3" class="yearDayTd">3</td>
		<td id="m18d4" class="yearDayTd">4</td>
		<td id="m18d5" class="yearDayTd">5</td>
	</tr>
	<tr>
		<td id="m18d6" class="yearDayTd">6</td>
		<td id="m18d7" class="yearDayTd">7</td>
		<td id="m18d8" class="yearDayTd">8</td>
		<td id="m18d9" class="yearDayTd">9</td>
		<td id="m18d10" class="yearDayTd">10</td>
		<td id="m18d11" class="yearDayTd">11</td>
		<td id="m18d12" class="yearDayTd">12</td>
	</tr>
	<tr>
		<td id="m18d13" class="yearDayTd">13</td>
		<td id="m18d14" class="yearDayTd">14</td>
		<td id="m18d15" class="yearDayTd">15</td>
		<td id="m18d16" class="yearDayTd">16</td>
		<td id="m18d17" class="yearDayTd">17</td>
		<td id="m18d18" class="yearDayTd">18</td>
		<td id="m18d19" class="yearDayTd">19</td>
	</tr>
	<tr>
		<td id="m18d20" class="yearDayTd">20</td>
		<td id="m18d21" class="yearDayTd">21</td>
		<td id="m18d22" class="yearDayTd">22</td>
		<td id="m18d23" class="yearDayTd">23</td>
		<td id="m18d24" class="yearDayTd">24</td>
		<td id="m18d25" class="yearDayTd">25</td>
		<td id="m18d26" class="yearDayTd">26</td>
	</tr>
	<tr>
		<td id="m18d27" class="yearDayTd">27</td>
		<td id="m18d28" class="yearDayTd">28</td>
		<td id="m18d29" class="yearDayTd">29</td>
		<td id="m18d30" class="yearDayTd">30</td>
		<td id="prevm18d2" class="nextMonDay">1</td>
		<td id="prevm18d3" class="nextMonDay">2</td>
		<td id="prevm18d4" class="nextMonDay">3</td>
	</tr>
</table></div>
 </div>

<div class="yearMonthWrapper sixRow" ui-sref="calendar.months({monNumber: 19})"><div class="yearMonthTableWrapper"><table id="month19" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Јул</td></tr>
	<tr>
		<td id="prevm19d27" class="prevMonDay">27</td>
		<td id="prevm19d28" class="prevMonDay">28</td>
		<td id="prevm19d29" class="prevMonDay">29</td>
		<td id="prevm19d30" class="prevMonDay">30</td>
		<td id="m19d1" class="yearDayTd">1</td>
		<td id="m19d2" class="yearDayTd">2</td>
		<td id="m19d3" class="yearDayTd">3</td>
	</tr>
	<tr>
		<td id="m19d4" class="yearDayTd">4</td>
		<td id="m19d5" class="yearDayTd">5</td>
		<td id="m19d6" class="yearDayTd">6</td>
		<td id="m19d7" class="yearDayTd">7</td>
		<td id="m19d8" class="yearDayTd">8</td>
		<td id="m19d9" class="yearDayTd">9</td>
		<td id="m19d10" class="yearDayTd">10</td>
	</tr>
	<tr>
		<td id="m19d11" class="yearDayTd">11</td>
		<td id="m19d12" class="yearDayTd">12</td>
		<td id="m19d13" class="yearDayTd">13</td>
		<td id="m19d14" class="yearDayTd">14</td>
		<td id="m19d15" class="yearDayTd">15</td>
		<td id="m19d16" class="yearDayTd">16</td>
		<td id="m19d17" class="yearDayTd">17</td>
	</tr>
	<tr>
		<td id="m19d18" class="yearDayTd">18</td>
		<td id="m19d19" class="yearDayTd">19</td>
		<td id="m19d20" class="yearDayTd">20</td>
		<td id="m19d21" class="yearDayTd">21</td>
		<td id="m19d22" class="yearDayTd">22</td>
		<td id="m19d23" class="yearDayTd">23</td>
		<td id="m19d24" class="yearDayTd">24</td>
	</tr>
	<tr>
		<td id="m19d25" class="yearDayTd">25</td>
		<td id="m19d26" class="yearDayTd">26</td>
		<td id="m19d27" class="yearDayTd">27</td>
		<td id="m19d28" class="yearDayTd">28</td>
		<td id="m19d29" class="yearDayTd">29</td>
		<td id="m19d30" class="yearDayTd">30</td>
		<td id="m19d31" class="yearDayTd">31</td>
	</tr>
	<tr>
	</tr>
</table></div>
 </div>

<div class="yearMonthWrapper fiveRow" ui-sref="calendar.months({monNumber: 20})"><div class="yearMonthTableWrapper"><table id="month20" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Август</td></tr>
	<tr>
		<td id="m20d1" class="yearDayTd">1</td>
		<td id="m20d2" class="yearDayTd">2</td>
		<td id="m20d3" class="yearDayTd">3</td>
		<td id="m20d4" class="yearDayTd">4</td>
		<td id="m20d5" class="yearDayTd">5</td>
		<td id="m20d6" class="yearDayTd">6</td>
		<td id="m20d7" class="yearDayTd">7</td>
	</tr>
	<tr>
		<td id="m20d8" class="yearDayTd">8</td>
		<td id="m20d9" class="yearDayTd">9</td>
		<td id="m20d10" class="yearDayTd">10</td>
		<td id="m20d11" class="yearDayTd">11</td>
		<td id="m20d12" class="yearDayTd">12</td>
		<td id="m20d13" class="yearDayTd">13</td>
		<td id="m20d14" class="yearDayTd">14</td>
	</tr>
	<tr>
		<td id="m20d15" class="yearDayTd">15</td>
		<td id="m20d16" class="yearDayTd">16</td>
		<td id="m20d17" class="yearDayTd">17</td>
		<td id="m20d18" class="yearDayTd">18</td>
		<td id="m20d19" class="yearDayTd">19</td>
		<td id="m20d20" class="yearDayTd">20</td>
		<td id="m20d21" class="yearDayTd">21</td>
	</tr>
	<tr>
		<td id="m20d22" class="yearDayTd">22</td>
		<td id="m20d23" class="yearDayTd">23</td>
		<td id="m20d24" class="yearDayTd">24</td>
		<td id="m20d25" class="yearDayTd">25</td>
		<td id="m20d26" class="yearDayTd">26</td>
		<td id="m20d27" class="yearDayTd">27</td>
		<td id="m20d28" class="yearDayTd">28</td>
	</tr>
	<tr>
		<td id="m20d29" class="yearDayTd">29</td>
		<td id="m20d30" class="yearDayTd">30</td>
		<td id="m20d31" class="yearDayTd">31</td>
		<td id="prevm20d2" class="nextMonDay">1</td>
		<td id="prevm20d3" class="nextMonDay">2</td>
		<td id="prevm20d4" class="nextMonDay">3</td>
		<td id="prevm20d5" class="nextMonDay">4</td>
	</tr>
</table></div>
 </div>

<div class="yearMonthWrapper fiveRow" ui-sref="calendar.months({monNumber: 21})"><div class="yearMonthTableWrapper"><table id="month21" class="yearMonthTable">
<tr><td class="yearMonthHeader" colspan="7">Септембар</td></tr>
	<tr>
		<td id="prevm21d29" class="prevMonDay">29</td>
		<td id="prevm21d30" class="prevMonDay">30</td>
		<td id="prevm21d31" class="prevMonDay">31</td>
		<td id="m21d1" class="yearDayTd">1</td>
		<td id="m21d2" class="yearDayTd">2</td>
		<td id="m21d3" class="yearDayTd">3</td>
		<td id="m21d4" class="yearDayTd">4</td>
	</tr>
	<tr>
		<td id="m21d5" class="yearDayTd">5</td>
		<td id="m21d6" class="yearDayTd">6</td>
		<td id="m21d7" class="yearDayTd">7</td>
		<td id="m21d8" class="yearDayTd">8</td>
		<td id="m21d9" class="yearDayTd">9</td>
		<td id="m21d10" class="yearDayTd">10</td>
		<td id="m21d11" class="yearDayTd">11</td>
	</tr>
	<tr>
		<td id="m21d12" class="yearDayTd">12</td>
		<td id="m21d13" class="yearDayTd">13</td>
		<td id="m21d14" class="yearDayTd">14</td>
		<td id="m21d15" class="yearDayTd">15</td>
		<td id="m21d16" class="yearDayTd">16</td>
		<td id="m21d17" class="yearDayTd">17</td>
		<td id="m21d18" class="yearDayTd">18</td>
	</tr>
	<tr>
		<td id="m21d19" class="yearDayTd">19</td>
		<td id="m21d20" class="yearDayTd">20</td>
		<td id="m21d21" class="yearDayTd">21</td>
		<td id="m21d22" class="yearDayTd">22</td>
		<td id="m21d23" class="yearDayTd">23</td>
		<td id="m21d24" class="yearDayTd">24</td>
		<td id="m21d25" class="yearDayTd">25</td>
	</tr>
	<tr>
		<td id="m21d26" class="yearDayTd">26</td>
		<td id="m21d27" class="yearDayTd">27</td>
		<td id="m21d28" class="yearDayTd">28</td>
		<td id="m21d29" class="yearDayTd">29</td>
		<td id="m21d30" class="yearDayTd">30</td>
		<td id="prevm21d2" class="nextMonDay">1</td>
		<td id="prevm21d3" class="nextMonDay">2</td><tr></tr>
	</tr>
</table></div>
 </div>

<div id="legendWrapper">
	<div class="legendSubWrapper">
		<span class="legendIcon blue"></span> <span class="legentCaption">Испитни рокови</span><br>
		<span class="legendIcon orange"></span> <span class="legentCaption">Колоквијумске недеље</span><br>
		<span class="legendIcon gray"></span> <span class="legentCaption">Нерадни дани</span><br>
	</div>
	<div class="legendSubWrapper">
		<span class="legendIcon green"></span> <span class="legentCaption">Плаћање школарине</span><br>
		<span class="legendIcon yellow"></span> <span class="legentCaption">Специјални догађаји</span><br>
	</div>
</div>



</div>