@media screen and (max-width: 1919px) {
	#indexSidebarWrapper {
		min-width: 360px;
	}
	#indexContentWrapper {
		max-width: calc(100% - 360px);
	}
	#mainSidebarWrapper {
		#sidebarWrapper {
			.sidebarItemWrapper {
				height: 90px;
				padding: 0 30px;
				.sidebarItem {
					line-height: 90px;
					font-size: 18px;
				}
			}
			#logoWrapper {
				font-size: 42px;
			}
			#bottomWrapper {
				height: 120px;
				#bottomFaksLogoWrapper {
					margin-top: 30px;
					height: 54px;
				}
				#bottomFaksSpan {
					font-size: 21px;
				}
			}
		}
	}
	.titlebar {
		min-height: 80px;
		.topFilterWrapper {
			line-height: 80px;
			font-size: 16px;
		}
		.fatCaption {
			font-size: 54px;
		}
		.normalCaption {
			font-size: 28px;
			padding: 5px 100px;
		}
		.closeBut {
			padding: 19px 50px;
		}
	}
	.fatPicker {
		width: 200px;
		height: 100px;
		line-height: 100px;
		margin: 16px;
		font-size: 28px;
	}
	.thinPicker {
		width: 31%;
		margin: 1%;
		height: 70px;
		line-height: 70px;
		font-size: 18px;
	}
	.scheduleWrapper {
		#tableWrapper {
			table {
				.lectureWrapper {
					padding: 4px 8px;
					.lectureCaption {
						font-size: 16px;
						line-height: 20px;
					}
					.lectureSubCaption {
						font-size: 14px;
						line-height: 18px;
						margin-top: 0;
					}
				}
				.lectureWrapper.smallerText {
					* {
						font-size: 13px;
						line-height: 16px;
					}
					.lectureSubCaption {
						margin-top: -2px;
						position: absolute;
					}
				}
			}
		}
	}


	#yearWrapper {
		overflow-x: hidden;
		overflow-y: auto;
		.yearMonthWrapper {
		    width: 220px;
		    margin: 0px 30px 10px;
		}
		.yearHeader {
			padding-left: 47px;
		}
		#legendWrapper {
			width: auto;
			float: none;
			clear: both;
			padding: 30px 30px 0;
			height: 130px;
		}
	}


	#aboutWrapper {
		overflow: auto;
		#topAboutWrapper {
			padding: 30px 50px;
			.aboutColumn {
				#bigLogoFaks {
					width: 80%;
				}
				#bigLogoLabs {
					width: 80%;
				}
				#peopleWrapper {
					.peopleSubWrapper.right {
						width: 45%;
						margin-left: 5%;
					}
				}
			}
		}
		#feedbackWrapper {
			height: auto !important;
			min-height: 70px;
			position: relative;
			overflow: auto;
			top: 30px;
			#inputWrapper {
				//height: calc(100% - 220px);
				#write {
					margin-bottom: 0;
				}
				::-webkit-input-placeholder {
				    color: white;
				}
				:-moz-placeholder {
				    color: white;
				}
				::-moz-placeholder {
				    color: white;
				}
				:-ms-input-placeholder {
				    color: white;
				}

				#cancelFeedback {
					display: none;
				}
				#keyboardContainer {
					display: none;
				}
			}
		}
		#feedbackWrapper.active {
			height: auto !important;
		}
	}
	// Text selection should be enabled but it interferes with swipe
	//.modalContWrapper *, .fatCaption, .normalCaption {
	//    -webkit-user-select: initial;
	//    -moz-user-select: initial;
	//    -ms-user-select: initial;
	//    user-select: initial;
	//}
}


@media screen and (max-width: 1440px) {
	.titlebar {
		min-height: 70px;
		.topFilterWrapper {
			line-height: 70px;
			font-size: 14px;
		}
		.fatCaption {
			font-size: 42px;
		}
		.normalCaption {
			font-size: 24px;
			padding: 0px 100px;
		}
		.closeBut {
			padding: 13px 50px;
		}
	}
	.titlebar.smaller {
		min-height: 60px;
		.topFilterWrapper {
			line-height: 60px;
			font-size: 14px;
		}
	}
	.bottomDate, th {
		font-size: 14px !important;
	}
	.eventNotif {
		font-size: 13px;
		padding: 2px 5px !important;
	}
	#bgLogo {
		width: 600px;
		height: 450px;
		top: calc(50% - 225px);
		left: calc(50% - 100px);
	}
}


@media screen and (max-width: 1280px) {
	#indexSidebarWrapper  {
		min-width: auto;
		width: 110px;
		#logoWrapper {
			display: none;
		}
		.sidebarItem, #bottomFaksSpan, #bottomTimeWrapper {
			display: none;
		}
		.sidebarItemIcon {
			padding-top: 26px;
		}
		#bottomFaksLogo {
			margin: 0 !important;
		}
		#bottomWrapper  {
			height: 90px !important;
		}
	}
	#indexContentWrapper {
		max-width: none;
		#yearWrapper {
			padding: 40px 20px;
			.yearMonthWrapper {
			    margin: 0px 28px 10px;
			}
		}
	}
	#bgLogo {
		width: 600px;
		height: 450px;
		top: calc(50% - 225px);
		left: calc(50% - 300px);
	}
}