.scheduleWrapper{
	position: absolute;
	height: 0px;
	width: 0px;
	overflow: hidden;
	z-index: 1000;
	background: white;
	opacity: 0;
	transition: all .5s ease;
	#tableWrapper {
		margin: 20px 50px;
		height: calc(100% - 160px);
		background: transparent;
		table {
			height: 100%;
			width: 100%;
			tr {
				height: 8%;
			}
			td {
				border: solid 1px #E6E6E6;
				background: white;
				height: 8%;
				vertical-align: top;
			}
			.timeCol {
				width: 45px;
				background: transparent;
				border: 0;
			}
			.adjustmentRow {
				height: 0;
				overflow: hidden;
				opacity: 0;
				* {
					height: 0;
					line-height: 0;
					border: 0;
				}
			}
			.dayRow {
				height: 4%;
				td{
					height: 4%;
				}
			}
			.dayCell {
				border: 0;
				text-align: center;
				//vertical-align: middle;
				font-size: 18px;
				color: #666666;
			}
			.lectureWrapper {
				position: absolute;
				width: 100%;
				height: 100%;
				padding: 10px;
				background: $blue;
				border-left: 5px solid rgba(0,0,0,.2);
				box-sizing: border-box;
				color: white;
				.lectureCaption{
					font-size: 24px;
					font-weight: 600;
					display: inline-block;
					line-height: 26px;
				}
				.lectureSubCaption{
					font-size: 21px;
					margin-top: 5px;
					display: inline-block;
					line-height: 24px;
				}
			}
			.lectureWrapper.smallerText * {
				font-size: 18px;
				line-height: 21px;
			}
			.lectureWrapper.orange {
				background: $orange;
			}
			.lectureWrapper.hasNotif::after {
				display: block;
				height: 40px;
				width: 40px;
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				background: white;
				background: url(images/iconNotif40x40.svg);
				line-height: 40px;
			}
		}
	}
	#tableWrapper.notifsDisplayed {
		height: calc(100% - 260px);
	}
	.timeSpan{ 
		color: #666666;
		display: block;
		margin-top: -9px;
	}	
}

.scheduleWrapper.displayed {
	top: 0px !important;
	left: 0px !important;
	height: 100vh;
	width: 100%;
	opacity: 1;
}
