<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Obavestenja - Dogadjaji</h5>
        </div>
        <div class="ibox-content">
            <table class="table">
                <thead>
                <tr>
                    <td colspan="6"><input class="form-control" type="text" ng-model="query" placeholder="Pretraga">
                    </td>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Opis</th>
                    <th>Datum isteka</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="notification in notifications | filter:query" class="repeated-item">
                    <td>{{ $index }}</td>
                    <td>{{ notification.description }}</td>
                    <td>{{ notification.expiresAt | amDateFormat:'HH:mm DD/MM/YYYY' }}</td>
                    <td>
                        <button class="btn btn-alert" ui-sref="eventNotification_edit({id: notification.id})">Izmeni
                        </button>
                        <button class="btn btn-danger" ng-click="deletenotification(notification.id)">Obrisi</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button ng-show="!loadedAll && !eventOnly" ng-click="showMore()" class="btn btn-primary btn-block m-t"><i
                class="fa fa-arrow-down"></i> Prikazi jos
        </button>
    </div>
</div>