* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

html, body {
  background-size: cover !important;
  height: 100%;
}

#login-wrapper {
  background: url("/assets/img/bgBlurred.jpg") !important;
  height: 100%;
  #inner-login-wrapper {
    padding: 10px 0;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background: white;
    min-height: 400px;
    top: calc(50% - 200px);
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    h1 {
      font-size: 24px;
      font-weight: 600;
      margin: 50px 0;
    }
    .input-wrapper {
      width: 320px;
      height: 40px;
      margin: 30px auto;
      .login-input {
        float: right;
        width: 280px;
        height: 40px;
        border-radius: 0 5px 5px 0;
        outline: none;
        border: 1px solid #B3B3B3;
        border-left: 0 !important;
        vertical-align: middle;
        padding: 0 14px;
        box-sizing: border-box;
        font-size: 16px;
        box-shadow: inset 0px 0px 1px rgba(57, 181, 74, 0.5);
      }
      input:focus, input:focus + div{
        border: 1px solid $highlightGreen !important;
        box-shadow: 0px 0px 2px rgba(57, 181, 74, 0.5) !important;
      }
      input:focus {
        border-left: 0 !important;
      }
      .img-wrapper {
        float: right;
        height: 40px;
        width: 40px;
        margin: auto;
        vertical-align: middle;
        border: 1px solid #B3B3B3;
        border-radius: 5px 0 0 5px;
        box-shadow: inset 0px 0px 1px rgba(57, 181, 74, 0.5);
        img.icon {
          height: 18px;
          margin: 11px;
        }
      }
    }

    .input-wrapper.disabled, input:disabled {
      background: #E6E6E6;
      vertical-align: middle;
    }

    button {
      width: 320px;
      height: 40px;
      border-radius: 5px;
      border: 0;
      outline: 0;
      background: $highlightGreen;
      color: white;
      font-size: 16px;
      transition: background .2s;
      cursor: pointer;
    }

    button:hover {
      background: lighten($highlightGreen, 5%);
    }

    button:active, button.sending {
      background: darken($highlightGreen, 10%);
      cursor: normal;
    }
    button.sending {
      pointer-events: none;
    }
  }
}