<div class="loginWrapper">
  <div class="innerLoginWrapper">
    <h1>Добродошли на Студент инфо</h1>
  
    <div class="inputWrapper">
      <div class="imgWrapper">
        <img class="icon" src="assets/svg/aboutIconMail.svg" alt="">
      </div>
      <input ng-model="credentials.username" type="text" id="emailField" placeholder="Ваша адреса">
    </div>
  
    <div class="inputWrapper">
      <div class="imgWrapper">
        <img class="icon" src="assets/svg/registerIconLockOutline.svg" alt="">
      </div>
      <input ng-model="credentials.password" type="password" id="passwordField" placeholder="Ваша шифра">
    </div>
  
    <button id="sendButton" ng-click="onSubmit()">Пријавите се</button>
  </div>
</div>