<div id="form-wrapper">
  <div id="inner-form-wrapper">
    <form action="">
      <h1>{{ 'LOGIN.WELCOME' | translate }}</h1>
    
      <div class="input-wrapper">
        <input class="form-input" ng-model="credentials.username" type="text" id="email-field" placeholder="{{ 'LOGIN.EMAIL' | translate }}">
        <div class="img-wrapper">
          <img class="icon" src="assets/svg/aboutIconMail.svg" alt="">
        </div>
      </div>
    
      <div class="input-wrapper">
        <input class="form-input" ng-model="credentials.password" type="password" id="password-field" placeholder="{{ 'LOGIN.PASSWORD' | translate }}">
        <div class="img-wrapper">
          <img class="icon" src="assets/svg/registerIconLockOutline.svg" alt="">
        </div>
      </div>
    
      <button id="send-button" type="submit" ng-click="onSubmit()">{{ 'LOGIN.SIGNIN' | translate }}</button>
    </form>
  </div>
</div>