#schedule-main-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: white;
	.titlebar {
		flex: 0 0 auto;
	}
	#schedule-wrapper {
		flex: 1 1 0;
		display: flex;
		height: 100%;
		#schedule-table-wrapper {
			padding: 30px 0 0;
			flex: 1 1 0;
			height: calc(100% - 160px);
			table {
				height: 100%;
				width: 100%;
				table-layout: fixed;
				tbody {
					tr {
						//border: 1px solid;
						.dayCell {
							height: 4%;
							text-align: center;
							@include font-size-text-normal();
							color: #666666;
							font-weight: 400;
							//padding-bottom: 9px;
						}
						td {
							height: 8%;
							border: 1px #E6E6E6 solid;
							border-collapse: collapse;
							.lectures-container {
								position: relative;
								height: 100%;
								.time-marker {
									position: absolute;
									width: 100%;
									background: #ddd;
									height: 5px;
									z-index: 100;
								}
								.lecture-wrapper {
									position: absolute;
									width: 100%;
									background: $blue;
									padding: 10px;
									border-left: 5px solid rgba(0, 0, 0, .2);
									box-sizing: border-box;
									z-index: 100;
									cursor: pointer;
									overflow: hidden;
									.lecture-caption, .lecture-sub-caption {
										color: white;
										display: block;
										@include font-size-text-big();
										line-height: 1.1em;
										font-weight: 600;
										z-index: 120;
									}
									.lecture-sub-caption {
										@include font-size-text-bigger();
										line-height: 1.1em;
										margin-top: 5px;
										opacity: .7;
									}
								}
								@media screen and (max-width: 1919px) {
									.lecture-wrapper {
										padding: 5px;
										.lecture-sub-caption {
											margin-top: 2px;
										}
									}
								}
								.lecture-wrapper.orange {
									background: $orange
								}
								.lecture-wrapper:hover {
									background: darken($blue, 10%);
								}
								.lecture-wrapper.orange:hover {
									background: darken($orange, 10%);
								}
								.lecture-wrapper.smaller-text * {
									@include font-size-text-normal();
									line-height: 1.1em;
								}
								.lecture-wrapper.has-notif::after {
									display: block;
									height: 40px;
									width: 40px;
									content: '';
									position: absolute;
									bottom: 0;
									right: 0;
									background: white;
									background: url(/assets/svg/iconNotif40x40.svg) !important;
									line-height: 40px;
								}
								.lecture-wrapper::after {
								    display: inline-block;
								    height: 10px;
								    z-index: 1000;
								    width: 100%;
								    content: '';
								    bottom: 0;
								    position: absolute;
								    right: 0;
								}
								.lecture-wrapper::after {
									background: linear-gradient(to top, rgba(16,128,204,1) 0%,rgba(16,128,204,0) 100%);
								}
								.lecture-wrapper.orange::after {
								    background: linear-gradient(to top, rgba(240,125,82,1) 0%,rgba(240,125,82,0) 100%);									
								}
								.lecture-wrapper:hover::after {
									background: linear-gradient(to top, rgba(12,98,157,1) 0%,rgba(12,98,157,0) 100%);
								}
								.lecture-wrapper.orange:hover::after {
								    background: linear-gradient(to top, rgba(236,90,35,1) 0%,rgba(236,90,35,0) 100%);									
								}
							}
						}
						td.today {
							background: #eee;
							.time-marker {
								display: block;
							}
						}
						.time-cell {
							vertical-align: bottom;
							width: 100px;
							border: 0;
							padding: 0 20px;
							color: #666;
							font-size: 16px;
							font-weight: 400;
							div span {
							    margin-bottom: -10px;
							    display: block;
							}
							.time-marker-container {
								height: 100%; 
								border-top: 1px solid transparent;
								.time-marker {
									background: #ddd;
									height: 5px;
									margin: 0 20px 0 -20px;
								}
							}
						}
						.time-cell.left {
							.time-marker-container {
								.time-marker {
									margin: 0 -20px 0 20px;
								}
							}
							text-align: right;
						}
					}
				}
			}
		}
		#schedule-table-wrapper.notifs-displayed {
		  height: calc(100% - 260px);
		}
	}
}