<div id="schedule-main-container">
  <div class="titlebar shadow">
    <span class="caption">
      <span ng-if="params.type == 'group'">{{ 'GROUP' | translate }} {{timetableObject.name}}</span>
      <span ng-if="params.type == 'classroom'">{{timetableObject.name}}</span>
      <span ng-if="params.type == 'teacher'">{{timetableObject.firstName}} {{timetableObject.lastName}}</span>
    </span>
  </div>
  <div id="schedule-wrapper">
  	<div id="schedule-table-wrapper">
  		<table>
  		<tbody>
  			<tr>
          <th class="time-cell left"><div><span>09h</span></div></th>
          <th class="dayCell day1">{{ 'DAY_1' | translate }}</th>
          <th class="dayCell day2">{{ 'DAY_2' | translate }}</th>
          <th class="dayCell day3">{{ 'DAY_3' | translate }}</th>
          <th class="dayCell day4">{{ 'DAY_4' | translate }}</th>
          <th class="dayCell day5">{{ 'DAY_5' | translate }}</th>
          <th class="dayCell day6" ng-if="timetableData[5].length > 0">{{ 'DAY_6' | translate }}</th>
          <th class="time-cell"><div><span>09h</span></div></th>
  			</tr>
        <tr class="normalRow">
          <td class="time-cell left">
            <div class="time-marker-container">
              <div class="time-marker" style="top: calc({{timeMarker}}% + {{timeMarker/50 + 11}}px)"></div>
            </div>
            <div><span>10h</span></div></td>
          <td class="day1">
            <div class="lectures-container">
              <div class="time-marker" style="top: calc({{timeMarker}}% + {{timeMarker/100}}px)"></div>
              <div class="lecture-wrapper" ng-repeat="lecture in timetableData[0]"
                style="
                  top: calc({{ (lecture.time.startsAt % 86400 - 900) / 3600 * 100 - 900 }}% + {{ (lecture.time.startsAt % 86400 - 900) / 3600 - 9 }}px);
                  height: calc({{ ((lecture.time.endsAt % 86400 + 900) - lecture.time.startsAt % 86400) / 3600 * 100}}% + {{ ((lecture.time.endsAt  % 86400 + 900) - lecture.time.startsAt % 86400) / 3600 -1 }}px);
                " 
                ng-class="{
                  'orange' : LECTURE_TYPES.LECTURE.indexOf(lecture.type) === -1, 
                  'has-notif' : lecture.notifications.length > 0, 
                  'smaller-text' : ((lecture.time.endsAt - lecture.time.startsAt) <= 7200) && (lecture.course.name.length > 25)
                }"
              >
                <span class="lecture-caption">{{lecture.course.name}}</span>

                <span class="lecture-sub-caption" ng-if="params.type=='group' && LECTURE_TYPES.LECTURE.indexOf(lecture.type) !== -1">{{lecture.classroom.name}}</span>
                <span class="lecture-sub-caption" ng-if="params.type=='group' && LECTURE_TYPES.LECTURE.indexOf(lecture.type) === -1">{{lecture.classroom.name}} ({{lecture.type}})</span>
                <span class="lecture-sub-caption" ng-if="params.type=='classroom'">{{lecture.teacher.firstName}} {{lecture.teacher.lastName}}</span>
                <span class="lecture-sub-caption" ng-if="params.type=='teacher'">
                  <span>{{lecture.groups[0].name}}</span>
                  <span ng-repeat="group in lecture.groups" ng-if="$index > 0">, {{group.name}}</span>
                </span>

              </div>
            </div>
          </td>
          <td class="day2">
            <div class="lectures-container">
              <div class="time-marker" style="top: calc({{timeMarker}}% + {{timeMarker/100}}px)"></div>
              <div class="lecture-wrapper" ng-repeat="lecture in timetableData[1]"
                style="
                  top: calc({{ (lecture.time.startsAt % 86400 - 900) / 3600 * 100 - 900 }}% + {{ (lecture.time.startsAt % 86400 - 900) / 3600 - 9 }}px);
                  height: calc({{ ((lecture.time.endsAt % 86400 + 900) - lecture.time.startsAt % 86400) / 3600 * 100}}% + {{ ((lecture.time.endsAt  % 86400 + 900) - lecture.time.startsAt % 86400) / 3600 -1 }}px);
                " 
                ng-class="{
                  'orange' : LECTURE_TYPES.LECTURE.indexOf(lecture.type) === -1, 
                  'has-notif' : lecture.notifications.length > 0, 
                  'smaller-text' : ((lecture.time.endsAt - lecture.time.startsAt) <= 7200) && (lecture.course.name.length > 25)
                }"
              >
                <span class="lecture-caption">{{lecture.course.name}}</span>

                <span class="lecture-sub-caption" ng-if="params.type=='group' && LECTURE_TYPES.LECTURE.indexOf(lecture.type) !== -1">{{lecture.classroom.name}}</span>
                <span class="lecture-sub-caption" ng-if="params.type=='group' && LECTURE_TYPES.LECTURE.indexOf(lecture.type) === -1">{{lecture.classroom.name}} ({{lecture.type}})</span>
                <span class="lecture-sub-caption" ng-if="params.type=='classroom'">{{lecture.teacher.firstName}} {{lecture.teacher.lastName}}</span>
                <span class="lecture-sub-caption" ng-if="params.type=='teacher'">
                  <span>{{lecture.groups[0].name}}</span>
                  <span ng-repeat="group in lecture.groups" ng-if="$index > 0">, {{group.name}}</span>
                </span>

              </div>
            </div>

          </td>
          <td class="day3">
            <div class="lectures-container">
              <div class="time-marker" style="top: calc({{timeMarker}}% + {{timeMarker/100}}px)"></div>
              <div class="lecture-wrapper" ng-repeat="lecture in timetableData[2]"
                style="
                  top: calc({{ (lecture.time.startsAt % 86400 - 900) / 3600 * 100 - 900 }}% + {{ (lecture.time.startsAt % 86400 - 900) / 3600 - 9 }}px);
                  height: calc({{ ((lecture.time.endsAt % 86400 + 900) - lecture.time.startsAt % 86400) / 3600 * 100}}% + {{ ((lecture.time.endsAt  % 86400 + 900) - lecture.time.startsAt % 86400) / 3600 -1 }}px);
                " 
                ng-class="{
                  'orange' : LECTURE_TYPES.LECTURE.indexOf(lecture.type) === -1, 
                  'has-notif' : lecture.notifications.length > 0, 
                  'smaller-text' : ((lecture.time.endsAt - lecture.time.startsAt) <= 7200) && (lecture.course.name.length > 25)
                }"
              >
                <span class="lecture-caption">{{lecture.course.name}}</span>

                <span class="lecture-sub-caption" ng-if="params.type=='group' && LECTURE_TYPES.LECTURE.indexOf(lecture.type) !== -1">{{lecture.classroom.name}}</span>
                <span class="lecture-sub-caption" ng-if="params.type=='group' && LECTURE_TYPES.LECTURE.indexOf(lecture.type) === -1">{{lecture.classroom.name}} ({{lecture.type}})</span>
                <span class="lecture-sub-caption" ng-if="params.type=='classroom'">{{lecture.teacher.firstName}} {{lecture.teacher.lastName}}</span>
                <span class="lecture-sub-caption" ng-if="params.type=='teacher'">
                  <span>{{lecture.groups[0].name}}</span>
                  <span ng-repeat="group in lecture.groups" ng-if="$index > 0">, {{group.name}}</span>
                </span>

              </div>
            </div>

          </td>
          <td class="day4">
            <div class="lectures-container">
              <div class="time-marker" style="top: calc({{timeMarker}}% + {{timeMarker/100}}px)"></div>
              <div class="lecture-wrapper" ng-repeat="lecture in timetableData[3]"
                style="
                  top: calc({{ (lecture.time.startsAt % 86400 - 900) / 3600 * 100 - 900 }}% + {{ (lecture.time.startsAt % 86400 - 900) / 3600 - 9 }}px);
                  height: calc({{ ((lecture.time.endsAt % 86400 + 900) - lecture.time.startsAt % 86400) / 3600 * 100}}% + {{ ((lecture.time.endsAt  % 86400 + 900) - lecture.time.startsAt % 86400) / 3600 -1 }}px);
                " 
                ng-class="{
                  'orange' : LECTURE_TYPES.LECTURE.indexOf(lecture.type) === -1, 
                  'has-notif' : lecture.notifications.length > 0, 
                  'smaller-text' : ((lecture.time.endsAt - lecture.time.startsAt) <= 7200) && (lecture.course.name.length > 25)
                }"
              >
                <span class="lecture-caption">{{lecture.course.name}}</span>

                <span class="lecture-sub-caption" ng-if="params.type=='group' && LECTURE_TYPES.LECTURE.indexOf(lecture.type) !== -1">{{lecture.classroom.name}}</span>
                <span class="lecture-sub-caption" ng-if="params.type=='group' && LECTURE_TYPES.LECTURE.indexOf(lecture.type) === -1">{{lecture.classroom.name}} ({{lecture.type}})</span>
                <span class="lecture-sub-caption" ng-if="params.type=='classroom'">{{lecture.teacher.firstName}} {{lecture.teacher.lastName}}</span>
                <span class="lecture-sub-caption" ng-if="params.type=='teacher'">
                  <span>{{lecture.groups[0].name}}</span>
                  <span ng-repeat="group in lecture.groups" ng-if="$index > 0">, {{group.name}}</span>
                </span>

              </div>
            </div>

          </td>
          <td class="day5">
            <div class="lectures-container">
              <div class="time-marker" style="top: calc({{timeMarker}}% + {{timeMarker/100}}px)"></div>
              <div class="lecture-wrapper" ng-repeat="lecture in timetableData[4]"
                style="
                  top: calc({{ (lecture.time.startsAt % 86400 - 900) / 3600 * 100 - 900 }}% + {{ (lecture.time.startsAt % 86400 - 900) / 3600 - 9 }}px);
                  height: calc({{ ((lecture.time.endsAt % 86400 + 900) - lecture.time.startsAt % 86400) / 3600 * 100}}% + {{ ((lecture.time.endsAt  % 86400 + 900) - lecture.time.startsAt % 86400) / 3600 -1 }}px);
                " 
                ng-class="{
                  'orange' : LECTURE_TYPES.LECTURE.indexOf(lecture.type) === -1, 
                  'has-notif' : lecture.notifications.length > 0, 
                  'smaller-text' : ((lecture.time.endsAt - lecture.time.startsAt) <= 7200) && (lecture.course.name.length > 25)
                }"
              >
                <span class="lecture-caption">{{lecture.course.name}}</span>

                <span class="lecture-sub-caption" ng-if="params.type=='group' && LECTURE_TYPES.LECTURE.indexOf(lecture.type) !== -1">{{lecture.classroom.name}}</span>
                <span class="lecture-sub-caption" ng-if="params.type=='group' && LECTURE_TYPES.LECTURE.indexOf(lecture.type) === -1">{{lecture.classroom.name}} ({{lecture.type}})</span>
                <span class="lecture-sub-caption" ng-if="params.type=='classroom'">{{lecture.teacher.firstName}} {{lecture.teacher.lastName}}</span>
                <span class="lecture-sub-caption" ng-if="params.type=='teacher'">
                  <span>{{lecture.groups[0].name}}</span>
                  <span ng-repeat="group in lecture.groups" ng-if="$index > 0">, {{group.name}}</span>
                </span>

              </div>
            </div>

          </td>
          <td class="day6" ng-if="timetableData[5].length > 0">
            <div class="lectures-container">
              <div class="time-marker" style="top: calc({{timeMarker}}% + {{timeMarker/100}}px)"></div>
              <div class="lecture-wrapper" ng-repeat="lecture in timetableData[5]"
                style="
                  top: calc({{ (lecture.time.startsAt % 86400 - 900) / 3600 * 100 - 900 }}% + {{ (lecture.time.startsAt % 86400 - 900) / 3600 - 9 }}px);
                  height: calc({{ ((lecture.time.endsAt % 86400 + 900) - lecture.time.startsAt % 86400) / 3600 * 100}}% + {{ ((lecture.time.endsAt  % 86400 + 900) - lecture.time.startsAt % 86400) / 3600 -1 }}px);
                " 
                ng-class="{
                  'orange' : LECTURE_TYPES.LECTURE.indexOf(lecture.type) === -1, 
                  'has-notif' : lecture.notifications.length > 0, 
                  'smaller-text' : ((lecture.time.endsAt - lecture.time.startsAt) <= 7200) && (lecture.course.name.length > 25)
                }"
              >
                <span class="lecture-caption">{{lecture.course.name}}</span>

                <span class="lecture-sub-caption" ng-if="params.type=='group' && LECTURE_TYPES.LECTURE.indexOf(lecture.type) !== -1">{{lecture.classroom.name}}</span>
                <span class="lecture-sub-caption" ng-if="params.type=='group' && LECTURE_TYPES.LECTURE.indexOf(lecture.type) === -1">{{lecture.classroom.name}} ({{lecture.type}})</span>
                <span class="lecture-sub-caption" ng-if="params.type=='classroom'">{{lecture.teacher.firstName}} {{lecture.teacher.lastName}}</span>
                <span class="lecture-sub-caption" ng-if="params.type=='teacher'">
                  <span>{{lecture.groups[0].name}}</span>
                  <span ng-repeat="group in lecture.groups" ng-if="$index > 0">, {{group.name}}</span>
                </span>

              </div>
            </div>

          </td>
          <td class="time-cell">
            <div class="time-marker-container">
              <div class="time-marker left" style="top: calc({{timeMarker}}% + {{timeMarker/50 + 11}}px)"></div>
            </div>
            <div><span>10h</span></div>
          </td>
        </tr>
        <tr class="normalRow">
          <td class="time-cell left"><div><span>11h</span></div></td>
          <td class="day1"></td>
          <td class="day2"></td>
          <td class="day3"></td>
          <td class="day4"></td>
          <td class="day5"></td>
          <td class="day6" ng-if="timetableData[5].length > 0"></td>
          <td class="time-cell"><div><span>11h</span></div></td>
        </tr>
        <tr class="normalRow">
          <td class="time-cell left"><div><span>12h</span></div></td>
          <td class="day1"></td>
          <td class="day2"></td>
          <td class="day3"></td>
          <td class="day4"></td>
          <td class="day5"></td>
          <td class="day6" ng-if="timetableData[5].length > 0"></td>
          <td class="time-cell"><div><span>12h</span></div></td>
        </tr>
        <tr class="normalRow">
          <td class="time-cell left"><div><span>13h</span></div></td>
          <td class="day1"></td>
          <td class="day2"></td>
          <td class="day3"></td>
          <td class="day4"></td>
          <td class="day5"></td>
          <td class="day6" ng-if="timetableData[5].length > 0"></td>
          <td class="time-cell"><div><span>13h</span></div></td>
        </tr>
        <tr class="normalRow">
          <td class="time-cell left"><div><span>14h</span></div></td>
          <td class="day1"></td>
          <td class="day2"></td>
          <td class="day3"></td>
          <td class="day4"></td>
          <td class="day5"></td>
          <td class="day6" ng-if="timetableData[5].length > 0"></td>
          <td class="time-cell"><div><span>14h</span></div></td>
        </tr>
        <tr class="normalRow">
          <td class="time-cell left"><div><span>15h</span></div></td>
          <td class="day1"></td>
          <td class="day2"></td>
          <td class="day3"></td>
          <td class="day4"></td>
          <td class="day5"></td>
          <td class="day6" ng-if="timetableData[5].length > 0"></td>
          <td class="time-cell"><div><span>15h</span></div></td>
        </tr>
        <tr class="normalRow">
          <td class="time-cell left"><div><span>16h</span></div></td>
          <td class="day1"></td>
          <td class="day2"></td>
          <td class="day3"></td>
          <td class="day4"></td>
          <td class="day5"></td>
          <td class="day6" ng-if="timetableData[5].length > 0"></td>
          <td class="time-cell"><div><span>16h</span></div></td>
        </tr>
        <tr class="normalRow">
          <td class="time-cell left"><div><span>17h</span></div></td>
          <td class="day1"></td>
          <td class="day2"></td>
          <td class="day3"></td>
          <td class="day4"></td>
          <td class="day5"></td>
          <td class="day6" ng-if="timetableData[5].length > 0"></td>
          <td class="time-cell"><div><span>17h</span></div></td>
        </tr>
        <tr class="normalRow">
          <td class="time-cell left"><div><span>18h</span></div></td>
          <td class="day1"></td>
          <td class="day2"></td>
          <td class="day3"></td>
          <td class="day4"></td>
          <td class="day5"></td>
          <td class="day6" ng-if="timetableData[5].length > 0"></td>
          <td class="time-cell"><div><span>18h</span></div></td>
        </tr>
        <tr class="normalRow">
          <td class="time-cell left"><div><span>19h</span></div></td>
          <td class="day1"></td>
          <td class="day2"></td>
          <td class="day3"></td>
          <td class="day4"></td>
          <td class="day5"></td>
          <td class="day6" ng-if="timetableData[5].length > 0"></td>
          <td class="time-cell"><div><span>19h</span></div></td>
        </tr>
        <tr class="normalRow">
          <td class="time-cell left"><div><span>20h</span></div></td>
          <td class="day1"></td>
          <td class="day2"></td>
          <td class="day3"></td>
          <td class="day4"></td>
          <td class="day5"></td>
          <td class="day6" ng-if="timetableData[5].length > 0"></td>
          <td class="time-cell"><div><span>20h</span></div></td>
        </tr>
        <tr class="normalRow">
          <td class="time-cell left"><div><span>21h</span></div></td>
          <td class="day1"></td>
          <td class="day2"></td>
          <td class="day3"></td>
          <td class="day4"></td>
          <td class="day5"></td>
          <td class="day6" ng-if="timetableData[5].length > 0"></td>
          <td class="time-cell"><div><span>21h</span></div></td>
  			</tr>
  		</tbody>
  		</table>
  	</div>
  </div>
</div>