.monthWrapper {
  height: 100%;
  width: 100%;
  background: white;
  overflow: hidden;
  .fatCaption {
    padding-left: 110px;
    text-transform: capitalize;
  }
  .closeBut {
    //float: none;
  }

  .monthTableWrapper {
    padding: 20px 10px;
    height: calc(100% - 180px);
    float: left;
    width: calc(100% - 220px);
    table {
      margin: auto;
      height: 100%;
      width: 100%;
      color: $textgray;
      table-layout: fixed;
      tbody {
        display: flex;
        flex-flow: column;
        height: 100%;
      }
      tr {
        display: flex;
        flex: 1 1 0;
        flex-flow: row;
      }
      td {
        position: relative;
        flex: 1 1 0;
        padding: 0px;
        //text-align: left;
        //vertical-align: top;
        border: 1px solid #E6E6E6;
        font-size: 21px;
        font-weight: 600;
        //width: 1000px;
        vertical-align: top;
        cursor: pointer;
        .bottomDate {
          position: absolute;
          text-align: right;
          bottom: 10px;
          right: 10px;
        }
        .eventNotifCont {
          width: calc(100% - 40px);
          display: inline-block;
          .eventNotif {
            width: calc(100% + 30px);
            display: inline-block;
            padding: 3px 0 3px 10px;
            background: $blue;
            color: white;
          }
          .eventNotif.blue {
            background: $blue;
          }
          .eventNotif.orange {
            background: $orange;
          }
          .eventNotif.gray {
            background: $gray;
          }
          .eventNotif.green {
            background: $green;
          }
          .eventNotif.yellow {
            background: $yellow;
            color: $textgray;
          }
        }
      }
      td:hover {
        background: darken(white, 10%);
        .eventNotifCont {
          .eventNotif.blue {
            background: darken($blue, 10%);
          }
          .eventNotif.orange {
            background: darken($orange, 10%);
          }
          .eventNotif.gray {
            background: darken($gray, 10%);
          }
          .eventNotif.green {
            background: darken($green, 10%);
          }
          .eventNotif.yellow {
            background: darken($yellow, 10%);
            color: $textgray;
          }
        }
      }
      .today {
        .bottomDate {
          background: #D41818;
          border-radius: 50%;
          height: 34px;
          width: 34px;
          text-align: center;
          color: white;
          line-height: 34px;
          -webkit-animation-name: pulseRed; /* Chrome, Safari, Opera */
          -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
          animation-name: pulseRed;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
        @-webkit-keyframes pulseRed {
          0% {
            background-color: #D41818;
          }
          50% {
            background-color: #FF1818;
          }
          100% {
            background-color: #D41818;
          }
        }
        @keyframes pulseRed {
          0% {
            background-color: #D41818;
          }
          50% {
            background-color: #FF1818;
          }
          100% {
            background-color: #D41818;
          }
        }
      }
      td.multi {
        background: #999999 !important;
        .bottomDate {
          color: white;
        }
      }
      td.multi:hover {
        background: darken(#999999, 10%);
      }
      td.blue {
        background: $blue;
        .bottomDate {
          color: white;
        }
      }
      td.blue:hover {
        background: darken($blue, 10%);
      }
      td.orange {
        background: $orange;
        .bottomDate {
          color: white;
        }
      }
      td.orange:hover {
        background: darken($orange, 10%);
      }
      td.gray {
        background: $gray;
        .bottomDate {
          color: white;
        }
      }
      td.gray:hover {
        background: darken($gray, 10%);
      }
      td.green {
        background: $green;
        .bottomDate {
          color: white;
        }
      }
      td.green:hover {
        background: darken($green, 10%);
      }
      td.yellow {
        background: $yellow;
        color: $textgray;
      }
      td.yellow:hover {
        background: darken($yellow, 10%);
      }
      .prevMonDay, .nextMonDay, .prevMonth, .nextMonth {
        opacity: .3;
        background: #BBBBBB;
        font-weight: normal;
      }
      .prevMonDay:hover, .nextMonDay:hover, .prevMonth:hover, .nextMonth:hover {
        background: darken(#BBBBBB, 10%);
      }
      .daysRow {
        flex: 0 0 auto;
      }
      th {
        //height: 50px;
        flex: 1 1 0;
        padding: 10px 0;
        font-weight: normal;
        font-size: 18px;
      }
      .adjustmentRow {
        height: 0;
        overflow: hidden;
        opacity: 0;
        * {
          height: 0;
          line-height: 0;
          border: 0;
        }
      }
    }
  }
}

.goLeft.ng-enter, .goLeft.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition: all .3s ease-out;
}

.goLeft.ng-enter {
  transform: translate3d(100%, 0, 0);
}

.goLeft.ng-enter-active {
  transform: translate3d(0, 0, 0);
}

.goLeft.ng-leave {
  transform: translate3d(0, 0, 0);
}

.goLeft.ng-leave-active {
  transform: translate3d(-100%, 0, 0);
}

.goRight.ng-enter, .goRight.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition: all .3s ease-out;
}

.goRight.ng-enter {
  transform: translate3d(100%, 0, 0);
}

.goRight.ng-enter-active {
  transform: translate3d(0, 0, 0);
}

.goRight.ng-leave {
  transform: translate3d(0, 0, 0);
}

.goRight.ng-leave-active {
  transform: translate3d(-100%, 0, 0);
}