#preschedule-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  #preschedule-filter-wrapper {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
    background: #666;
    .filter-item-wrapper{
      width: 100%;
      text-align: center;
      cursor: pointer;
      .filter-item-icon {
        height: 35px;
        vertical-align: middle;
        margin-right: 10px;
      }
      .filter-item-text {
        @include font-size-text-bigger();
        //font-weight: 600;
        color: white;
        vertical-align: middle;
        line-height: 100px;
      }
    }
    .filter-item-wrapper:hover {
      background: rgba(0,0,0,0.2);
    }
    .filter-item-wrapper.active {
      background: rgba(0,0,0,0.5);
    }
  }
  #preschedule-ui-view {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    #preschedule-ui-view-subcontainer {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      .titlebar.subfilter {
        flex: 0 0 auto;
        background: #F2F2F2;
        box-shadow: 0 2px 2px rgba(0,0,0,.2);
        display: flex;
        justify-content: space-around;
        height: 80px;
        .subfilter-wrapper {
          width: 100%;
          text-align: center;
          cursor: pointer;
          .subfilter-text {
            @include font-size-text-normal();
            font-weight: 600;
            line-height: 80px;
            padding: 10px 30px;
            border-radius: 22px;
            color: $textgray;
            transition: all .2s;
          }
        }
        .subfilter-wrapper:hover { 
          .subfilter-text {
            background: #ddd;
            transition: all .1s
          }
        }
        .subfilter-wrapper.active { 
          .subfilter-text {
            background: $blue;
            color: white;
          }
        }
        .subfilter-wrapper.letter {
          max-width: 3.33%;
          .subfilter-text {
            height: 40px;
            width: 40px;
            padding: 0;
            display: inline-block;
            margin: 20px 0;
            line-height: 40px;
          }
        }
        .subfilter-wrapper.disabled {
          cursor: normal;
          .subfilter-text {
            color: #ddd;
            background: transparent !important;
          }
        }
      }
      .pickers-wrapper {
        flex: 1 1 0;
        overflow: auto;
        padding: 30px 30px 0;
        .group-picker {
          display: inline-block;
          width: 18%;
          height: 120px;
          background: $blue;
          border-radius: 10px;
          margin: 1%;
          color: white;
          text-align: center;
          line-height: 120px;
          font-size: 36px;
          text-transform: capitalize;
          cursor: pointer;
          transition: all .1s;
        }
        .teacher-picker, 
        .classrooom-picker {
          display: inline-block;
          width: 23%;
          height: 80px;
          background: $blue;
          border-radius: 10px;
          margin: 1%;
          color: white;
          text-align: center;
          line-height: 80px;
          font-size: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 0 10px;
          cursor: pointer;
          transition: all .1s;
        }
        .teacher-picker.disabled {
          opacity: .5;
          cursor: default;
          pointer-events: none;
        } 
        .teacher-header {
          display: block;
          font-size: 32px;
          font-weight: 700;
          color: $textgray;
          padding: 20px 1% 0;
        }
        .group-picker:hover,
        .teacher-picker:hover, 
        .classrooom-picker:hover {
          background: darken($blue, 10%);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        }
      }
      .pickers-wrapper.teachers {
        padding-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 1919px) {
  #preschedule-wrapper #preschedule-filter-wrapper 
  .filter-item-wrapper .filter-item-text {
    line-height: 80px;
  }
  #preschedule-wrapper #preschedule-ui-view #preschedule-ui-view-subcontainer
  .titlebar.subfilter .subfilter-wrapper .subfilter-text {
    padding: 10px 20px;
  }
  #preschedule-wrapper #preschedule-ui-view #preschedule-ui-view-subcontainer
  .pickers-wrapper .group-picker {
    height: 100px;
    line-height: 100px;
    font-size: 32px;
  }
  #preschedule-wrapper #preschedule-ui-view #preschedule-ui-view-subcontainer 
  .pickers-wrapper .teacher-picker, 
  #preschedule-wrapper #preschedule-ui-view #preschedule-ui-view-subcontainer 
  .pickers-wrapper .classrooom-picker {
    height: 70px;
    line-height: 70px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1439px) {
  #preschedule-wrapper #preschedule-ui-view #preschedule-ui-view-subcontainer 
  .titlebar.subfilter {
    height: 70px;
  }
  #preschedule-wrapper #preschedule-ui-view #preschedule-ui-view-subcontainer 
  .titlebar.subfilter .subfilter-wrapper .subfilter-text {
    line-height: 70px;
    padding: 10px 15px;
  }
  #preschedule-wrapper #preschedule-ui-view #preschedule-ui-view-subcontainer 
  .titlebar.subfilter .subfilter-wrapper.letter .subfilter-text {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
  #preschedule-wrapper #preschedule-ui-view #preschedule-ui-view-subcontainer 
  .pickers-wrapper .group-picker {
    height: 90px;
    line-height: 90px;
    font-size: 28px;
    border-radius: 7px;
  }
  #preschedule-wrapper #preschedule-ui-view #preschedule-ui-view-subcontainer 
  .pickers-wrapper .teacher-picker, 
  #preschedule-wrapper #preschedule-ui-view #preschedule-ui-view-subcontainer 
  .pickers-wrapper .classrooom-picker {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    border-radius: 7px;
  }
  
}


@media screen and (max-width: 1365px) {
  #preschedule-wrapper #preschedule-ui-view #preschedule-ui-view-subcontainer 
  .pickers-wrapper .group-picker {
    width: 23%;
  }
 
}
