<div id="yearly-wrapper">
	<div class="month-header-wrapper">
		<h1 class="month-header">{{::currentSchoolYear}}</h1>
	</div>
	<div class="month-wrapper" ng-repeat="month in ::months | limitTo: 4" ui-sref="dashboard.monthly(openMonth($index))">
		<div class="month-table-wrapper">
			<table>
				<tr>
					<th colspan="7">{{::month.name}}</th>
				</tr>
				<tr ng-repeat="week in ::month.days">
					<td ng-repeat="day in ::week" ng-class="::day.finalClass">{{::day.date}} </td>
				</tr>
			</table>
		</div>
	</div>

	<div class="month-header-wrapper">
		<h1 class="month-header">{{::currentSchoolYear+1}}</h1>
	</div>
	<div class="month-wrapper" ng-repeat="month in ::months | startFrom: 4" ui-sref="dashboard.monthly(openMonth($index+4))">
		<div class="month-table-wrapper">
			<table>
				<tr>
					<th colspan="7">{{::month.name}}</th>
				</tr>
				<tr ng-repeat="week in ::month.days">
					<td ng-repeat="day in ::week" ng-class="::day.finalClass">{{::day.date}} </td>
				</tr>
			</table>
		</div>
	</div>
	<!-- <h1 class="month-header">{{::currentSchoolYear+1}}</h1> -->
</div>