<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{ type.title }}</h5>
        </div>
        <div class="ibox-content">
            <table class="table">
                <thead>
                <tr>
                    <td colspan="6"><input class="form-control" type="text" ng-model="query" placeholder="Pretraga">
                    </td>
                </tr>
                <tr ng-show="selectedCount">
                    <td colspan="6">
                        <p>Sa odabranim</p>
                        <button class="btn btn-info" ng-click="issueTokens()">Posalji registracione tokene</button>
                        <button class="btn btn-danger" ng-click="deleteEntities()">Obrisi</button>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th ng-if="type.slug === 'professors' || type.slug === 'assistants' ">
                        Titula
                    </th>
                    <th ng-if="type.slug === 'students' ">
                        Indeks
                    </th>
                    <th>Ime i prezime</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entity in paginatedEntities | filter:query" class="repeated-item"
                    ng-class="event.registered ? '' : 'warning'">
                    <td>
                        <input type="checkbox" ng-model="entity.selected" ng-change="entitySelectChanged(entity)">
                    </td>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.firstName }} {{ entity.lastName }}</td>
                    <td>{{ entity.email.email }}</td>
                    <td>
                        <small class="alert-danger">Registracioni token istekao</small>
                    </td>
                </tr>
                </tbody>
            </table>
            <uib-pagination total-items="entities.length" ng-model="currentPage"></uib-pagination>
        </div>
    </div>
</div>