#about-wrapper {
  height: 100%;
  width: 100%;
  background: white;
  overflow-y: auto;
  #top-about-wrapper {
    padding: 50px 100px;
    * {
      color: $textgray;
    }
    .about-column {
      height: 50%;
      width: 33%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      .about-wrapper {
        display: inline-block;
        text-align: left;
        #big-logo-faks {
          height: 220px;
          display: inline-block;
          margin-bottom: 40px;
          //margin-top: 30px;
        }
        #big-logo-labs {
          height: 220px;
          display: inline-block;
          margin-bottom: 40px;
          //margin-top: 20px;
        }
        .info-wrapper {
          display: inline-block;
          text-align: left;
          .info-item {
            display: block;
            line-height: 2.3em;
            @include font-size-text-normal();
            .info-icon {
              display: inline-block;
              height: 30px;
              width: 30px;
              vertical-align: middle;
              margin-right: 30px;
            }
          }
        }
        .mini-caption {
          @include font-size-text-normal();
          font-weight: 600;
        }
        #people-wrapper {
          width: 100%;
          margin-top: 20px;
          .people-sub-wrapper {
            width: 100%;
            @include font-size-text-normal();
            line-height: 2.3em;
            margin-top: 30px;
            .people-head {
              font-weight: 600;
              display: block;
            }
            .people-item {
              display: block;
            }
          }
        }
      }
    }
    .feedback-notif {
      position: absolute;
      height: 80px;
      width: 500px;
      margin-top: -100px;
      top: 0;
      left: calc(50% - 250px);
      background: $green;
      color: white;
      transition: all .3s;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      text-align: center;
      line-height: 80px;
      font-size: 32px;
      font-weight: 600;
      border-radius: 5px;
    }
    .feedback-notif.active {
      margin-top: 50px;
    }
  }
  #feedback-wrapper {
    height: auto;
    transition: all .3s;
    #show-feedback {
    	text-align: center;
    	line-height: 70px;
      margin: 0 0 30px;
      @include font-size-heading();
    }
    #input-wrapper {
      height: auto;
      width: 100%;
      padding: 30px 15%;
      box-sizing: border-box;
      #write {
        height: 300px;
        width: 100%;
        outline: none;
        border: 1px solid #bbb;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 20px;
        resize: none;
        @include font-size-text-bigger();
      }
      #write:focus {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      }
      #send-feedback {
        height: 80px;
        width: 100%;
        border: 0;
        border-radius: 5px;
        outline: none;
        color: white;
        @include font-size-text-bigger();
        font-weight: 600;
        margin: 50px 0;
        transition: all .3s;
        background: $green;
        float: right;
      }
      #send-feedback:hover {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        background: darken($green, 10%);
      }
      #send-feedback:active {
        background: darken($green, 20%);
      }
    }
    #input-wrapper.hiddenKeyboard {
      ::-webkit-input-placeholder {
        color: white;
      }
      :-moz-placeholder {
        color: white;
      }
      ::-moz-placeholder {
        color: white;
      }
      :-ms-input-placeholder {
        color: white;
      }
      #keyboard-container {
        display: none;
      }
    }

    hr {
      clear: both;
    }
  }
}

@media screen and (max-width: 1919px) {
  #about-wrapper #top-about-wrapper .about-column {
    width: 49%;
  }
  #about-wrapper #top-about-wrapper .about-column.people {
    width: 100%;
    .about-wrapper {
      width: 100%;
      #people-wrapper {
        .people-sub-wrapper {
          width: 50%; 
          float: left;
          text-align: center;
          .people-sub-sub-wrapper {
            text-align: left;
            display: inline-block;
          }
        }
      }
    }
  }
  #about-wrapper #top-about-wrapper 
  .about-column .about-wrapper .info-wrapper .info-item .info-icon {
    height: 20px;
    width: 20px;
  }
  #about-wrapper #feedback-wrapper #show-feedback {
    margin: 0;
    line-height: 32px;
  }
  #about-wrapper #feedback-wrapper #input-wrapper {
    ::-webkit-input-placeholder {
      color: white;
    }
    :-moz-placeholder {
      color: white;
    }
    ::-moz-placeholder {
      color: white;
    }
    :-ms-input-placeholder {
      color: white;
    }
    #send-feedback {
      margin: 20px 0;
      height: 60px;
    }
    #keyboard-container {
      display: none;
    }
  }
}