<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Obavestenja - Lekcije</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Dodavanje obavestenja</h2>
                    <hr>
                    <form>
                        <div class="form-group">
                            <label for="inputLecture">Predavanje ili vezba</label>
                            <select id="inputLecture" ng-model="lecture" class="form-control" ng-required="true">
                                <option ng-repeat="option in lectures" value="{{option.id}}">{{option.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <h3>{{ selectedLecture.name}}</h3>
                            <p>
                                {{ selectedLecture.formatedTime }}
                            </p>
                            <p>
                                {{ selectedLecture.teacher.title }}
                                {{ selectedLecture.teacher.firstName }}
                                {{ selectedLecture.teacher.lastName }}
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Opis</label>
                            <textarea rows="10" maxrows="20" placeholder="Opis" id="inputDescription" class="form-control"
                                      ng-model="vm.notification.description" ng-required="true">
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputExpiresAt">Pocetak</label>

                            <div class="row">
                                <div class="col-md-6">
                                    <p class="input-group">
                                        <input type="text" class="form-control"
                                               uib-datepicker-popup="dd-MMMM-yyyy"
                                               id="inputExpiresAt"
                                               ng-model="vm.notification.expiresAt.date"
                                               is-open="status.expiresAt.opened"
                                               min-date="minDate" max-date="maxDate"
                                               ng-required="true" close-text="Close"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openExpiresAt($notification)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
							</span>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <uib-timepicker ng-model="vm.notification.expiresAt.time" hour-step="1"
                                                    minute-step="1"
                                                    show-meridian="ismeridian"></uib-timepicker>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" ui-sref="lectureNotifications" class="btn btn-alert">Odustani</button>
                            <button type="submit" ng-click="save()" class="btn btn-primary">Sacuvaj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
