<div>
    <div>
        <h2>{{ 'EVENTS' | translate }}</h2>
        <hr>
        <button class="btn btn-success" ui-sref="admin.event_new({type: eventsType.slug})">
            {{ 'NEW_EVENT' | translate }}
        </button>
    </div>
    <hr>
    <div ng-if="!pagination.available" class="center-block">
        <h1 class="text-center">{{ 'NO_DATA' | translate }}</h1>
    </div>
    <div ng-if="pagination.available">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="7">
                    <input class="form-control" type="text" ng-model="pagination.query"
                           placeholder="{{ 'SEARCH' | translate }}">
                </td>
            </tr>
            <tr>
                <th>{{ 'DESCRIPTION' | translate }}</th>
                <th>
                    {{ 'TYPE' | translate }}
                </th>
                <th>
                    <span ng-if="eventsType.slug === 'course'">{{ 'COURSE' | translate }}</span>
                    <span ng-if="eventsType.slug === 'group'">{{ 'GROUP' | translate }}</span>
                </th>
                <th>{{ 'START' | translate }}</th>
                <th>{{ 'END' | translate }}</th>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="event in pagination.paginatedEntities" class="repeated-item">
                <td>{{ ::event.description }}</td>
                <td>
                    {{ ::event.type }}
                </td>
                <td ng-if="eventsType.slug === 'course'">
                </td>
                {{ ::event.course.name }}
                <td ng-if="eventsType.slug === 'group'">
                    {{ ::event.group.name }}
                </td>
                <td ng-class="event.expired ? 'text-warning' : ''">
                    {{ event.momentTime.startsAt.format('HH:mm D/MMMM/YYYY') }}
                </td>
                <td ng-class="event.expired ? 'text-warning' : ''">
                    {{ event.momentTime.endsAt.format('HH:mm D/MMMM/YYYY') }}
                </td>
                <td>
                    <button
                            ng-disabled="!canPerformActions"
                            ng-show="event.notifications.length > 0"
                            ui-sref="admin.notifications({relatedEntityId: event.id, type: 'events'})"
                            type="button" class="btn btn-primary btn-sm">{{ event.notifications.length }}
                    </button>

                    <button
                            ng-disabled="!canPerformActions"
                            ui-sref="admin.eventNotification_new({relatedEntityId: event.id, type: 'events'})"
                            type="button" class="btn btn-success btn-sm">
                        <small><i class="fa fa-plus-square"></i></small>
                    </button>
                </td>
                <td>
                    <button ng-disabled="!canPerformActions" class="btn btn-info btn-sm"
                            ui-sref="admin.event_new({type: eventsType.slug, id: event.id})">
                        {{ 'EDIT' | translate }}
                    </button>
                    <button ng-disabled="!canPerformActions" class="btn btn-danger btn-sm"
                            ng-click="deleteEvent(event)">
                        {{ 'DELETE' | translate }}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <uib-pagination first-text="{{ 'PREV' | translate }}" last-text="{{ 'LAST' | translate }}"
                        total-items="pagination.totalItems" items-per-page="pagination.perPage"
                        ng-model="pagination.currentPage"></uib-pagination>
    </div>
</div>