<div>
    <div>
        <h2>{{ 'EVENT' | translate }}</h2>
    </div>
    <hr>
    <div>
        <form ng-submit="onSubmit()">
            <div ng-if="eventsType.slug !== 'global' && mode === 'CREATE'" class="form-group">
                <label for="relatedEntitySelect">{{ eventsType.slug | uppercase | translate }}</label>
                <select ng-required="true" id="relatedEntitySelect" class="form-control" ng-model="event.relatedEntity">
                    <option ng-repeat="relatedEntity in relatedEntities" value="{{relatedEntity.id}}">{{ relatedEntity.name }}</option>
                </select>
            </div>
            <div ng-if="eventsType.slug !== 'global' && mode === 'UPDATE'" class="form-group">
                <label for="relatedEntity"></label>
                <input ng-disabled="true" type="text" id="relatedEntity" class="form-control" ng-model="event.relatedEntityName">
            </div>
            <div class="form-group">
                <label for="inputType">{{ 'TYPE' | translate }}</label>
                <input id="inputType" type="text" ng-model="event.type" class="form-control" ng-required="true"/>
            </div>
            <div class="form-group">
                <label for="inputDescription">{{ 'DESCRIPTION' | translate }}</label>
                <textarea ng-required="true" id="inputDescription" name="description" ng-model="event.description" class="form-control">
                </textarea>
            </div>
            <div class="form-group">
                <label for="inputStartsAt">{{ 'START' | translate }}</label>
                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" id="inputStartsAt"
                                   uib-datepicker-popup="dd-MMMM-yyyy"
                                   ng-model="event.startsAt.date" is-open="datePickersStatus.startsAt.opened"
                                   ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openStartsAt($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
							</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <uib-timepicker show-spinners="false" ng-model="event.startsAt.time" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEndsAt">{{ 'END' | translate }}</label>
                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" id="inputEndsAt"
                                   uib-datepicker-popup="dd-MMMM-yyyy"
                                   ng-model="event.endsAt.date" is-open="datePickersStatus.endsAt.opened"
                                   ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openEndsAt($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
							</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <uib-timepicker show-spinners="false" ng-model="event.endsAt.time" hour-step="1" minute-step="1" show-meridian="ismeridian"></uib-timepicker>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="eventsType.slug === 'group' || eventsType.slug === 'course'">
                <label for="inputClassrooms">{{ 'CLASSROOMS' | translate}}</label>
                <select name="inputClassrooms" id="inputClassrooms" class="form-control" ng-model="event.classrooms" ng-required="true" multiple="multiple" style="width: 100%">
                    <option ng-repeat="c in classrooms" value="{{ c.id }}">{{ ::c.name }}</option>
                </select>
                <!--<label ng-repeat="c in classrooms">-->
                    <!--<input name="classrooms" ng-model="event.classrooms[c.id]" value="{{ c.id }}" type="checkbox"> {{c.name}}-->
                    <!--<br>-->
                <!--</label>-->
            </div>
            <div class="form-group">
                <button type="button" ui-sref="admin.overview" class="btn btn-alert">{{ 'CANCEL' | translate }}</button>
                <button type="submit" class="btn btn-primary" ng-disabled="!canSubmit">{{ 'SAVE' | translate }}</button>
            </div>
        </form>
    </div>
</div>