#aboutWrapper{
	height: 100%;
	width: 100%;
	background: white;
	#topAboutWrapper {
		padding: 50px 100px;
		*{
			color: $textgray;
		}
		.aboutColumn {
			height: 50%;
			width: 50%;
			float: left;
			#bigLogoFaks {
				height: 120px;
				display: block;
				margin-bottom: 60px;
				margin-top: 30px;
			}
			#bigLogoLabs {
				height: 120px;
				display: block;
				margin-bottom: 50px;
				margin-top: 20px;
			}
			.miniCaption{
				font-size: 18px;
				font-weight: 600;	
			}
			.infoItem {
				display: block;
				line-height: 44px;
				font-size: 24px;
				.infoIcon {
					display: inline-block;
					height: 30px;
					width: 30px;
					vertical-align: middle;
					margin-right: 30px;
				}
			}
			#peopleWrapper {
				width: 100%;
				margin-top: 20px;
				.peopleSubWrapper {
					width: 50%;
					float: left;
					font-size: 24px;
					line-height: 30px;
					.peopleHead {
						font-weight: 600;
						display: block;
					}
					.peopleItem {
						display: block;
						margin: 10px 0;
					}
				}
			}
		}
		.feedbackNotif {
			position: absolute;
			height: 80px;
			width: 500px;
			margin-top: -100px;
			top: 0;
			left: calc(50% - 250px);
			background: $green;
			color: white;
			transition: all .3s;
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
			text-align: center;
			line-height: 80px;
			font-size: 32px;
			font-weight: 600;
			border-radius: 5px;
		}
		.feedbackNotif.active {
			margin-top: 50px;
		}
	}
	#feedbackWrapper {
		height: 45%;
		transition: all .3s;
		#inputWrapper{
			height: 350px;
			width: 100%;
			padding: 0 15%;
			box-sizing: border-box;
			#write{
				height: 100%;
				width: 100%;
				outline: none;
				border: 1px solid #bbb;
				border-radius: 5px;
				box-sizing: border-box;
				padding: 20px;
				resize: none;
				font-size: 21px;
				margin-bottom: 100px;
			}
			#write:focus {
				box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
			}
			.feedbackButton{
				height: 80px;
				width: 300px;
				border: 0;
				border-radius: 5px;
				outline: none;
				color: white;
				font-size: 21px;
				font-weight: 600;
				margin: 30px 0;
				transition: all .3s;
			}
			.feedbackButton:hover {
				box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
			}
			#sendFeedback {
				background: $green;
				float: right;
			}
			#sendFeedback:hover {
				background: darken($green, 10%);
			}
			#sendFeedback:active {
				background: darken($green, 20%);
			}
			#cancelFeedback {
				background: #D32F2F;
				float: left;
			}
			#cancelFeedback:hover {
				background: darken(#D32F2F, 10%);
			}
			#cancelFeedback:active {
				background: darken(#D32F2F, 20%);
			}
		}
	}
	#feedbackWrapper.active {
		height: 100% !important;
		#inputWrapper{
			#write {
				margin-bottom: 0;
			}
		}
	}
}