<div>
    <div>
        <h2>
            <span ng-if="staffType.slug === 'students'">{{ 'STUDENTS' | translate }} </span>
            <span ng-if="staffType.slug === 'assistants'">{{ 'ASSISTANTS' | translate }}</span>
            <span ng-if="staffType.slug === 'professors'">{{ 'PROFESSORS' | translate }}</span>
        </h2>
        <hr>
        <button ng-disabled="pagination.selectedCount <= 0 || !canPerformActions" class="btn btn-success"
                ng-click="issueRegisterTokens()">
            {{ 'ISSUE_REGISTER_TOKENS' | translate }}
        </button>
        <button ng-if="staffType.slug === 'students'" ng-disabled="!canPerformActions" class="btn btn-info"
                ui-sref="admin.staff_new({type: 'students'})">
            {{ 'ADD_NEW_STUDENT' | translate }}
        </button>
        <button ng-if="staffType.slug === 'assistants'" ng-disabled="!canPerformActions" class="btn btn-info"
                ui-sref="admin.staff_new({type: 'assistants'})">
            {{ 'ADD_NEW_ASSISTANT' | translate }}
        </button>
        <button ng-if="staffType.slug === 'professors'" ng-disabled="!canPerformActions" class="btn btn-info"
                ui-sref="admin.staff_new({type: 'professors'})">
            {{ 'ADD_NEW_PROFESSOR' | translate }}
        </button>
    </div>
    <hr>
    <div ng-if="!pagination.available" class="center-block">
        <h1 class="text-center">{{ 'NO_DATA' | translate }}</h1>
    </div>
    <div ng-if="pagination.available">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="6"><input class="form-control" type="text" ng-model="pagination.query"
                                       placeholder="{{ 'SEARCH' | translate }}">
                </td>
            </tr>
            <tr>
                <th></th>
                <th>
                <span ng-if="staffType.slug === 'professors' || staffType.slug === 'assistants' ">
                    {{ 'TITLE' | translate }}
                </span>
                <span ng-if="staffType.slug === 'students'">
                    {{ 'INDEX_NUMBER' | translate }}
                </span>
                </th>
                <th>{{ 'FIRST_AND_LAST_NAME' | translate }}</th>
                <th>{{ 'EMAIL' | translate }}</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in pagination.paginatedEntities" class="repeated-item">
                <td>
                    <input type="checkbox" ng-model="entity.selected"
                           ng-change="pagination.entitySelectChanged(entity)">
                </td>
                <td>
                <span ng-if="staffType.slug === 'professors' || staffType.slug === 'assistants' ">
                    {{ ::entity.title }}
                </span>
                <span ng-if="staffType.slug === 'students'">
                    {{ ::entity.indexNumber }}
                </span>
                </td>
                <td>{{ ::entity.firstName }} {{ ::entity.lastName }}</td>
                <td>{{ ::entity.email.email }}</td>
                <td>
                    <small ng-if="entity.registerTokenExpired" class="text-danger">
                        {{ 'REGISTER_TOKEN_EXPIRED' | translate }}
                    </small>
                    <small ng-if="!entity.registerTokenExpired && !entity.registered" class="text-info">
                        {{ 'REGISTER_TOKEN_ACTIVE' | translate }}
                    </small>
                </td>
                <td>
                    <button ng-disabled="!canPerformActions" class="btn btn-danger btn-sm"
                            ng-click="deleteEntity(entity)">
                        {{ 'DELETE' | translate }}
                    </button>
                    <a ui-sref="admin.staff_new({type: staffType.slug, id: entity.id})" ng-disabled="!canPerformActions"
                       class="btn btn-info btn-sm">
                        {{ 'EDIT' | translate }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <uib-pagination previous-text="{{ 'PREV' | translate }}"
                        next-text="{{ 'NEXT' | translate}}" total-items="pagination.totalItems"
                        items-per-page="pagination.perPage"
                        ng-model="pagination.currentPage"></uib-pagination>
    </div>
</div>