#sidebar {
	height: 100%;
	* {
		color: white;
	}
	#sidebar-blur-wrapper {
		position: absolute;
		top: 0;
		left: -10%;
		height: 100%;
		width: 110%;
		overflow: hidden;
		#sidebar-blur-background {
			top: 0;
			left: 0;
			height: 100vh;
			width: 100vw;
			//background: url(images/bg.jpg);
			background-size: cover !important;
			-webkit-filter: blur(20px);
			filter: blur(20px);
		}
	}
	#sidebar-wrapper {
		position: relative;
		height: 100%;
		z-index: 1;
		background: rgba(0, 0, 0, .7);
		transition: background .3s;
		border-right: 1px solid rgba(255, 255, 255, 0.2);
		#sidebar-logo, #sidebar-bottom {
			background: rgba(0,0,0,.2);
		}
		#sidebar-logo {
			height: 140px;
			padding: 40px 0;
			font-size: 48px;
			font-weight: 300;
			line-height: 60px;
			text-align: center;
			border-bottom: 1px solid rgba(255, 255, 255, .2);
			cursor: pointer;
		}
		#sidebar-logo-mini {
			display: none;
			img {
				width: 70px;
				margin-top: -8px;
			}
		}
		.sidebar-item-wrapper {
			display: block;
			height: 120px;
			padding: 0 50px;
			//text-decoration: none;
			cursor: pointer;
			//transition: border .3s;
			//border: solid 0px;
			.sidebar-item-icon {
				width: 50px;
				height: 38px;
				vertical-align: middle;
			}
			.sidebar-item-text {
				line-height: 120px;
				@include font-size-text-big();
				margin-left: 30px;
				vertical-align: middle;
			}
		}
		.sidebar-item-wrapper.active {
			//border-left: 10px solid white;
			background: #111;
		}
		.sidebar-item-wrapper[ui-sref="dashboard.android"]:after {
			display: block;
			height: 40px;
			width: 40px;
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			background: #fff;
			background: url(/assets/svg/iconNotif40x40.svg)!important;
			line-height: 40px;
		}
		@media screen and (max-width: 1919px) {
			#sidebar-logo {
				height: 120px;
				padding: 30px 0;
			}
			.sidebar-item-wrapper {
				height: 110px;
				.sidebar-item-text {
					line-height: 110px;
				}
			}
		}
		@media screen and (max-width: 1439px) {
			#sidebar-logo {
				height: 100px;
				padding: 20px 0;
				font-size: 42px;
			}
			.sidebar-item-wrapper {
				height: 100px;
				.sidebar-item-text {
					line-height: 100px;
				}
			}
		}
		#sidebar-bottom {
			position: absolute;
			bottom: 0px;
			//height: 140px;
			width: 100%;
			border-top: 1px solid rgba(255, 255, 255, .2);
			#time-container {
				display: block;
				@include font-size-text-normal();
				line-height: 40px;
				text-align: center;
				height: auto;
			}
			#time-container-short {
				display: none;
			}
		}
		hr {
			margin: 0;
			border: 0;
			border-top: 1px solid rgba(255, 255, 255, .2);
		}
	}
	#sidebar-wrapper.active {
		background: #222;
	}

}

@media screen and (max-width: 1200px) {
	#dashboard-container #sidebar-container {
		min-width: 0;
		width: 120px;
	}
	#dashboard-container #dashboard-inner-container {
		max-width: calc(100% - 120px);
	}
	#sidebar #sidebar-wrapper .sidebar-item-wrapper .sidebar-item-text,
	#sidebar #sidebar-wrapper #sidebar-logo {
		display: none;
	}
	#sidebar #sidebar-wrapper .sidebar-item-wrapper {
		padding: 30px 36px;
	}
	#sidebar #sidebar-wrapper #sidebar-logo-mini {
		display: block;
		height: 100px;
		padding: 20px 0;
		font-size: 42px;
		font-weight: 300;
		line-height: 60px;
		text-align: center;
		border-bottom: 1px solid rgba(255, 255, 255, .2);
		cursor: pointer;
	}
	#sidebar #sidebar-wrapper #sidebar-bottom #time-container {
		display: none;
	}
	#sidebar #sidebar-wrapper #sidebar-bottom #time-container-short {
		display: block;
		@include font-size-text-normal();
		line-height: 22px;
		margin: 10px 0;
		text-align: center;
		height: auto;
	}
}
