<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Dodavanje dogadjaja</h2>
        <hr>
        <form>
            <div class="form-group">
                <label for="inputType">Tip</label>
                <select id="inputType" ng-model="vm.event.type" class="form-control">
                    <option ng-repeat="option in vm.typeOptions" value="{{option.id}}">{{option.name}}</option>
                </select>
            </div>
            <div class="form-group" ng-show="vm.event.type==1">
                <label for="inputCourse">Kurs</label>
                <select id="inputCourse" ng-model="vm.event.course" class="form-control">
                    <option ng-repeat="course in vm.courses" value="{{course.id}}">{{course.name}}</option>
                </select>
            </div>
            <div class="form-group" ng-show="vm.event.type==2">
                <label for="inputGroup">Grupa</label>
                <select id="inputGroup" ng-model="vm.event.group" class="form-control">
                    <option ng-repeat="group in vm.groups" value="{{group.id}}">{{group.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputStringType">Vrsta (npr. Ispitni rok)</label>
                <input id="inputStringType" type="text" ng-model="vm.event.stringType" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="inputDescription">Opis</label>
				<textarea rows="10" maxrows="20" placeholder="Opis" id="inputDescription" class="form-control"
                          ng-model="vm.event.description" ng-required="true">
				</textarea>
            </div>
            <div class="form-group">
                <label for="inputStartsAt">Pocetak</label>

                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="dd-MMMM-yyyy"
                                   ng-model="vm.event.startsAt.date" is-open="status.startsAt.opened"
                                   min-date="minDate" max-date="maxDate"
                                   ng-required="true" close-text="Close"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openStartsAt($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
							</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <uib-timepicker ng-model="vm.event.startsAt.time" hour-step="1" minute-step="1"
                                        show-meridian="ismeridian"></uib-timepicker>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEndsAt">Kraj</label>

                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="dd-MMMM-yyyy"
                                   ng-model="vm.event.endsAt.date" is-open="status.endsAt.opened"
                                   min-date="minDate" max-date="maxDate"
                                   ng-required="true" close-text="Close"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openEndsAt($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
							</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <uib-timepicker ng-model="vm.event.endsAt.time" hour-step="1" minute-step="1"
                                        show-meridian="ismeridian"></uib-timepicker>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" ui-sref="events" class="btn btn-alert">Odustani</button>
                <button type="submit" ng-click="save()" class="btn btn-primary">Sacuvaj</button>
            </div>
        </form>
    </div>
</div>