#pickersWrapper {
	padding: 30px 30px 0;
	height: calc(100% - 222px);
	overflow-y: auto;
}

.fatPicker {
	display: inline-block;
	width: 240px;
	height: 120px;
	background: $blue;
	border-radius: 10px;
	margin: 21px;
	color: white;
	text-align: center;
	line-height: 120px;
	font-size: 36px;
    //box-shadow: none;
    //border-bottom: 4px solid #1069A5;
    text-transform: capitalize;
    cursor: pointer;
}

.thinPicker {
	display: inline-block;
	width: 23%;
	height: 80px;
	background: $blue;
	border-radius: 10px;
	margin: 1%;
	color: white;
	text-align: center;
	line-height: 80px;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 10px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
}

.fatPicker:hover, .thinPicker:hover {
	background: darken($blue, 10%);
    //border-bottom: 4px solid darken(#1069A5, 10%);
}

.noLectures {
	opacity: .5;
}

.teacherLetter {
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: $textgray;
    margin: 0 1%;
}