<div id="aboutWrapper">
    <div id="topAboutWrapper">

        <div class="aboutColumn">
        <div class="aboutWrapper">
            <img src="images/AboutFacultyLogo.svg" alt="" id="bigLogoFaks">
            <br>
            <div class="infoWrapper">
                <span class="infoItem"><img src="images/aboutIconWeb.svg" alt="" class="infoIcon">raf.edu.dev</span>
                <span class="infoItem"><img src="images/aboutIconPhone.svg" alt="" class="infoIcon">(011) 26 - 27 - 613</span>
                <span class="infoItem"><span class="infoIcon"> </span>(011) 26 - 33 - 321</span>
                <span class="infoItem"><img src="images/aboutIconMail.svg" alt="" class="infoIcon">raf@raf.edu.dev</span>
                <span class="infoItem"><span class="infoIcon"> </span>sekretarijat@raf.edu.dev</span>
                <span class="infoItem"><span class="infoIcon"> </span>marketing@raf.edu.dev</span>
            </div>
        </div>
        </div>

        <div class="aboutColumn">
        <div class="aboutWrapper">
            <!-- <span class="miniCaption">Пројекат изведен у сарадњи са: </span> -->
            <img src="images/AboutDevanaLogo.svg" alt="" id="bigLogoLabs">
            <br>
            <div class="infoWrapper">
               <span class="infoItem"><img src="images/aboutIconWeb.svg" alt="" class="infoIcon">devana.dev</span>
            </div>
        </div>
        </div>

        <div class="aboutColumn people">
        <div class="aboutWrapper">
            <div id="peopleWrapper">
                <div class="peopleSubWrapper">
                    <div class="peopleSubSubWrapper"> 
                    <span class="peopleHead">Учесници пројекта: </span>
                    <span class="peopleItem">Никола Вуковић</span>
                    <span class="peopleItem">Милан Вучић</span>
                    <span class="peopleItem">Никола Нинковић</span>
                    <span class="peopleItem">Небојша Урошевић</span>
                    </div>
                </div>
                <div class="peopleSubWrapper right">
                    <div class="peopleSubSubWrapper">
                    <span class="peopleHead">Ментори: </span>
                    <span class="peopleItem">Антун Дебак</span>
                    <span class="peopleItem">Владимир Преловац</span>
                    <span class="peopleItem">Миљан Текић</span>
                    <span class="peopleItem">Богдан Хабић</span>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div id="feedbackNotif" class="feedbackNotif">Хвала!</div>
    </div>

    <div id="feedbackWrapper" class="titlebar bottom shadow noflex" ng-controller="aboutCtrl"
         ng-class="{'active' : showKeyboard}">
        <h2 ng-click="showKeyboard = true" id="showFeedback" class="textblue">Пошаљите нам сугестије и предлоге</h2>

        <div id="inputWrapper">
            <textarea name="" id="write" placeholder="Додирните за тастатуру" ng-focus="showKeyboard = true"></textarea>
            <button id="cancelFeedback" class="feedbackButton" ng-click="cancelFeedback(); showKeyboard = false">
                Откажи
            </button>
            <button id="sendFeedback" class="feedbackButton" ng-click="sendFeedback()">Пошаљи</button>
            <si-keyboard></si-keyboard>
        </div>
    </div>

</div>