<!-- <div ng-repeat="(key, value) in data.teachers">
 	<span> {{key}} </span>
</div> -->
<div ng-repeat="letter in data.teachers" ng-if="letter.length > 0">
    <span class="teacherLetter" id="{{letter[0].lastName | limitTo:1:0}}">{{letter[0].lastName | limitTo:1:0 }}</span>
    <si-teacherpicker ng-repeat="teacher in letter"
                      ng-class="{'noLectures': teacher.lectures.length == 0}"
                      details="{{teacher.firstName + ' ' + teacher.lastName}}"
                      asdf="{{teacher.id}}" nm="{{teacher.firstName + ' ' + teacher.lastName}}">

    </si-teacherpicker>
</div>