<div>
    <div>
        <h2>Dogadjaj</h2>
        <hr>
        <form ng-submit="onSubmit()">
            <div class="form-group">
                <label for="relatedEntity"></label>
                <input ng-disabled="true" type="text" id="relatedEntity" class="form-control" ng-model="lecture.relatedEntityName">
            </div>
            <div class="form-group">
                <label for="inputType">Tip (Ispitni rok, kolokvijum...)</label>
                <input id="inputType" type="text" ng-model="event.type" class="form-control" ng-required="true"/>
            </div>
            <div class="form-group">
                <label for="inputDescription">Opis</label>
                <textarea ng-required="true" id="inputDescription" name="description" ng-model="event.description" class="form-control">
                </textarea>
            </div>
            <div class="form-group" ng-if="eventType.slug === 'course'">
                <label for="inputCourse">Kurs</label>
                <select name="inputCourse" id="inputCourse" class="form-control" ng-required="true">
                    <option ng-repeat="c in courses" value="{{ c.id }}">{{ ::c.name }}</option>
                </select>
            </div>
            <div class="form-group" ng-if="eventType.slug === 'group'">
                <label for="inputGroup">Grupa</label>
                <select name="inputCourse" id="inputGroup" class="form-control" ng-required="true">
                    <option ng-repeat="g in groups" value="{{ g.id }}">{{ ::g.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputStartsAt">Pocetak</label>
                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" id="inputStartsAt"
                                   uib-datepicker-popup="dd-MMMM-yyyy"
                                   ng-model="event.startsAt.date" is-open="datePickersStatus.startsAt.opened"
                                   ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openStartsAt($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
							</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <uib-timepicker show-spinners="false" ng-model="event.startsAt.time" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEndsAt">Kraj</label>
                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" id="inputEndsAt"
                                   uib-datepicker-popup="dd-MMMM-yyyy"
                                   ng-model="event.endsAt.date" is-open="datePickersStatus.endsAt.opened"
                                   ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openEndsAt($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
							</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <uib-timepicker show-spinners="false" ng-model="event.endsAt.time" hour-step="1" minute-step="1" show-meridian="ismeridian"></uib-timepicker>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" ui-sref="admin.overview" class="btn btn-alert">Odustani</button>
                <button type="submit" class="btn btn-primary" ng-disabled="!canSubmit">Sacuvaj</button>
            </div>
        </form>
    </div>
</div>