<div>
    <div>
        <h2>{{ 'LECTURES' | translate }}</h2>
        <hr>
        <button class="btn btn-success" ui-sref="admin.lecture_new">{{ 'NEW_LECTURE' | translate }}</button>
    </div>
    <hr>
    <div ng-if="!pagination.available" class="center-block">
        <h1 class="text-center">{{ 'NO_DATA' | translate }}</h1>
    </div>
    <div ng-if="pagination.available">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="8">
                    <input class="form-control" type="text" ng-model="pagination.query"
                           placeholder="{{ 'SEARCH' | translate }}">
                </td>
            </tr>
            <tr>
                <th>{{ 'TYPE' | translate }}</th>
                <th>{{ 'COURSE' | translate }}</th>
                <th>{{ 'TEACHER' | translate }}</th>
                <th>{{ 'CLASSROOM' | translate }}</th>
                <th>{{ 'START' | translate }}</th>
                <th>{{ 'END' | translate }}</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lecture in pagination.paginatedEntities" class="repeated-item">
                <td>{{ ::lecture.typeName | translate }}</td>
                <td>
                    {{ ::lecture.course.name }}
                </td>
                <td>
                    {{ ::lecture.teacher.title }}
                    {{ ::lecture.teacher.firstName }}
                    {{ ::lecture.teacher.lastName }}
                </td>
                <td>
                    {{ ::lecture.classroom.name }}
                </td>
                <td>
                    {{ ::lecture.startsAt.format('dddd HH:mm') }}
                </td>
                <td>
                    {{ ::lecture.endsAt.format('dddd HH:mm') }}
                </td>
                <td>
                    <button
                            ng-disabled="!canPerformActions"
                            ng-show="lecture.notifications.length > 0"
                            ui-sref="admin.notifications({relatedEntityId: lecture.id, type: 'lectureNotifications'})"
                            type="button" class="btn btn-primary btn-sm">{{ lecture.notifications.length }}
                    </button>

                    <button
                            ng-disabled="!canPerformActions"
                            ui-sref="admin.lectureNotification_new({relatedEntityId: lecture.id, type: 'lecureNotifications'})"
                            type="button" class="btn btn-success btn-sm">
                        <small><i class="fa fa-plus-square"></i></small>
                    </button>
                </td>
                <td>
                    <button ng-disabled="!canPerformActions" class="btn btn-info btn-sm"
                            ui-sref="admin.notificationLecture_new({relatedEntityId: lecture.id})">
                        {{ 'EDIT' | translate }}
                    </button>
                    <button ng-disabled="!canPerformActions" class="btn btn-danger btn-sm"
                            ng-click="deleteLecture(lecture)">
                        {{ 'DELETE' | translate }}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <uib-pagination total-items="pagination.totalItems" items-per-page="pagination.perPage"
                        ng-model="pagination.currentPage"></uib-pagination>
    </div>
</div>