<div  ng-controller="monthCtrl" class="monthWrapper fiveRow"><div class="titlebar shadow noflex" colspan="7"><span class="fatCaption">Јун 2016</span><a class="yearlyBut" href="#/calendar/yearly"><img src="images/iconExpand.svg" alt="">Годишњи приказ</a></div><div class="leftArrow" ng-click="prevMonth()"></div><div class="monthTableWrapper"><table id="month18" class="monthTable">
	<tr class="adjustmentRow"><th>00000000000000</th><th>00000000000000</th><th>00000000000000</th><th>00000000000000</th><th>00000000000000</th><th>00000000000000</th><th>00000000000000</th></tr>	<tr><th>Понедељак</th><th>Уторак</th><th>Среда</th><th>Четвртак</th><th>Петак</th><th>Субота</th><th>Недеља</th></tr><tr>
		<td id="prevm18d30" class="prevMonDay"><span class="bottomDate">30</span></td>
		<td id="prevm18d31" class="prevMonDay"><span class="bottomDate">31</span></td>
		<td id="m18d1" class="DayTd"><span class="bottomDate">1</span></td>
		<td id="m18d2" class="DayTd"><span class="bottomDate">2</span></td>
		<td id="m18d3" class="DayTd"><span class="bottomDate">3</span></td>
		<td id="m18d4" class="DayTd"><span class="bottomDate">4</span></td>
		<td id="m18d5" class="DayTd"><span class="bottomDate">5</span></td>
	</tr>
	<tr>
		<td id="m18d6" class="DayTd"><span class="bottomDate">6</span></td>
		<td id="m18d7" class="DayTd"><span class="bottomDate">7</span></td>
		<td id="m18d8" class="DayTd"><span class="bottomDate">8</span></td>
		<td id="m18d9" class="DayTd"><span class="bottomDate">9</span></td>
		<td id="m18d10" class="DayTd"><span class="bottomDate">10</span></td>
		<td id="m18d11" class="DayTd"><span class="bottomDate">11</span></td>
		<td id="m18d12" class="DayTd"><span class="bottomDate">12</span></td>
	</tr>
	<tr>
		<td id="m18d13" class="DayTd"><span class="bottomDate">13</span></td>
		<td id="m18d14" class="DayTd"><span class="bottomDate">14</span></td>
		<td id="m18d15" class="DayTd"><span class="bottomDate">15</span></td>
		<td id="m18d16" class="DayTd"><span class="bottomDate">16</span></td>
		<td id="m18d17" class="DayTd"><span class="bottomDate">17</span></td>
		<td id="m18d18" class="DayTd"><span class="bottomDate">18</span></td>
		<td id="m18d19" class="DayTd"><span class="bottomDate">19</span></td>
	</tr>
	<tr>
		<td id="m18d20" class="DayTd"><span class="bottomDate">20</span></td>
		<td id="m18d21" class="DayTd"><span class="bottomDate">21</span></td>
		<td id="m18d22" class="DayTd"><span class="bottomDate">22</span></td>
		<td id="m18d23" class="DayTd"><span class="bottomDate">23</span></td>
		<td id="m18d24" class="DayTd"><span class="bottomDate">24</span></td>
		<td id="m18d25" class="DayTd"><span class="bottomDate">25</span></td>
		<td id="m18d26" class="DayTd"><span class="bottomDate">26</span></td>
	</tr>
	<tr>
		<td id="m18d27" class="DayTd"><span class="bottomDate">27</span></td>
		<td id="m18d28" class="DayTd"><span class="bottomDate">28</span></td>
		<td id="m18d29" class="DayTd"><span class="bottomDate">29</span></td>
		<td id="m18d30" class="DayTd"><span class="bottomDate">30</span></td>
		<td id="prevm18d2" class="nextMonDay"><span class="bottomDate">1</span></td>
		<td id="prevm18d3" class="nextMonDay"><span class="bottomDate">2</span></td>
		<td id="prevm18d4" class="nextMonDay"><span class="bottomDate">3</span></td>
	</tr>
</table></div>
<div class="rightArrow" ng-click="nextMonth()"></div> </div>

