<div  ng-controller="monthCtrl" class="monthWrapper fiveRow"><div class="titlebar shadow noflex" colspan="7"><span class="fatCaption">Септембар 2016</span><a class="yearlyBut" href="#/calendar/yearly"><img src="images/iconExpand.svg" alt="">Годишњи приказ</a></div><div class="leftArrow" ng-click="prevMonth()"></div><div class="monthTableWrapper"><table id="month21" class="monthTable">
	<tr class="adjustmentRow"><th>00000000000000</th><th>00000000000000</th><th>00000000000000</th><th>00000000000000</th><th>00000000000000</th><th>00000000000000</th><th>00000000000000</th></tr>	<tr><th>Понедељак</th><th>Уторак</th><th>Среда</th><th>Четвртак</th><th>Петак</th><th>Субота</th><th>Недеља</th></tr><tr>
		<td id="prevm21d29" class="prevMonDay"><span class="bottomDate">29</span></td>
		<td id="prevm21d30" class="prevMonDay"><span class="bottomDate">30</span></td>
		<td id="prevm21d31" class="prevMonDay"><span class="bottomDate">31</span></td>
		<td id="m21d1" class="DayTd"><span class="bottomDate">1</span></td>
		<td id="m21d2" class="DayTd"><span class="bottomDate">2</span></td>
		<td id="m21d3" class="DayTd"><span class="bottomDate">3</span></td>
		<td id="m21d4" class="DayTd"><span class="bottomDate">4</span></td>
	</tr>
	<tr>
		<td id="m21d5" class="DayTd"><span class="bottomDate">5</span></td>
		<td id="m21d6" class="DayTd"><span class="bottomDate">6</span></td>
		<td id="m21d7" class="DayTd"><span class="bottomDate">7</span></td>
		<td id="m21d8" class="DayTd"><span class="bottomDate">8</span></td>
		<td id="m21d9" class="DayTd"><span class="bottomDate">9</span></td>
		<td id="m21d10" class="DayTd"><span class="bottomDate">10</span></td>
		<td id="m21d11" class="DayTd"><span class="bottomDate">11</span></td>
	</tr>
	<tr>
		<td id="m21d12" class="DayTd"><span class="bottomDate">12</span></td>
		<td id="m21d13" class="DayTd"><span class="bottomDate">13</span></td>
		<td id="m21d14" class="DayTd"><span class="bottomDate">14</span></td>
		<td id="m21d15" class="DayTd"><span class="bottomDate">15</span></td>
		<td id="m21d16" class="DayTd"><span class="bottomDate">16</span></td>
		<td id="m21d17" class="DayTd"><span class="bottomDate">17</span></td>
		<td id="m21d18" class="DayTd"><span class="bottomDate">18</span></td>
	</tr>
	<tr>
		<td id="m21d19" class="DayTd"><span class="bottomDate">19</span></td>
		<td id="m21d20" class="DayTd"><span class="bottomDate">20</span></td>
		<td id="m21d21" class="DayTd"><span class="bottomDate">21</span></td>
		<td id="m21d22" class="DayTd"><span class="bottomDate">22</span></td>
		<td id="m21d23" class="DayTd"><span class="bottomDate">23</span></td>
		<td id="m21d24" class="DayTd"><span class="bottomDate">24</span></td>
		<td id="m21d25" class="DayTd"><span class="bottomDate">25</span></td>
	</tr>
	<tr>
		<td id="m21d26" class="DayTd"><span class="bottomDate">26</span></td>
		<td id="m21d27" class="DayTd"><span class="bottomDate">27</span></td>
		<td id="m21d28" class="DayTd"><span class="bottomDate">28</span></td>
		<td id="m21d29" class="DayTd"><span class="bottomDate">29</span></td>
		<td id="m21d30" class="DayTd"><span class="bottomDate">30</span></td>
		<td id="prevm21d2" class="nextMonDay"><span class="bottomDate">1</span></td>
		<td id="prevm21d3" class="nextMonDay"><span class="bottomDate">2</span></td>
	</tr>
</table></div>
<div class="rightArrow" ng-click="nextMonth()"></div> </div>

