<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h2>Login</h2>
		<hr/>
		<form name="loginForm" ng-submit="login(credentials)">
			<div class="form-group">
				<label for="inputIndexNumber">Email</label>
				<input class="form-control" type="text" id="inputIndexNumber" ng-model="credentials.email" />
			</div>
			<div class="form-group">
				<label for="inputFirstName">Password</label>
				<input class="form-control" type="password" id="inputPassword" ng-model="credentials.password" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Login</button>
			</div>
		</form>
	</div>
</div>