#main-ui-view, #dashboard-ui-view {
	height: 100%;
  overflow-x: hidden;
}

.titlebar {
  width: 100%;
  height: 100px;
  z-index: 100;
  .caption {
  	font-size: 48px;
  	line-height: 100px;
  	font-weight: 700;
  	color: $textgray;
  	padding: 0 0 0 50px !important;
  	overflow: hidden;
    max-width: calc(100% - 200px);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .caption.capitalize {
    text-transform: capitalize;
  }
  .close-but {
    height: 100px;
    width: 100px;
    padding: 29px !important;
    float: right;
    cursor: pointer;
    .close-but-icon {
      height: 42px;
      width: 42px;
      background: url(/assets/svg/iconExit42x42g.svg);
    }
  }
  .close-but:hover {
    background: rgba(0, 0, 0, .1);
  }
}
.titlebar.shadow {
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.subfilter.titlebar-hidden {
  margin-top: -80px !important;
  overflow: hidden;
  z-index: 0;
}


.titlebar.blue {
  background: $blue;
  .caption {
    color: white !important;
  }
  .close-but-icon {
    background: url(/assets/svg/iconExit42x42.svg);
  }
}

.titlebar.orange {
  background: $orange;
  .caption {
    color: white !important;
  }
  .close-but-icon {
    background: url(/assets/svg/iconExit42x42.svg);
  }
}

.titlebar.yellow {
  background: $yellow;
  .caption {
    color: $textgray !important;
  }
  .close-but-icon {
    background: url(/assets/svg/iconExit42x42.svg);
  }
}

.titlebar.green {
  background: $green;
  .caption {
    color: white !important;
  }
  .close-but-icon {
    background: url(/assets/svg/iconExit42x42.svg);
  }
}

.titlebar.gray {
  background: #808080;
  .caption {
    color: white !important;
  }
  .close-but-icon {
    background: url(/assets/svg/iconExit42x42.svg);
  }
}

.titlebar.multi {
  background: #999999;
  .caption {
    color: white !important;
  }
  .close-but-icon {
    background: url(/assets/svg/iconExit42x42.svg);
  }
}




#dashboard-ui-view.ng-enter, #dashboard-ui-view.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition: all .3s ease;
}

#dashboard-ui-view.ng-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

#dashboard-ui-view.ng-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#dashboard-ui-view.ng-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#dashboard-ui-view.ng-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
