#main-ui-view, #dashboard-ui-view {
	height: 100%;
  overflow-x: hidden;
}

#dashboard-container {
  display: flex;
  flex-direction: row; 
  #sidebar-container {
    height: 100%;
    width: 25%;
    min-width: 410px;
    flex: 0 0 auto;
  }

  #dashboard-inner-container {
    height: 100%;
    width: 75%;
    max-width: calc(100% - 410px);
    flex: 1 1 0;
  }
}


.titlebar {
  width: 100%;
  height: 100px;
  z-index: 100;
  .caption {
  	@include font-size-text-caption();
  	line-height: 100px;
  	font-weight: 700;
  	color: $textgray;
  	padding: 0 0 0 50px !important;
  	overflow: hidden;
    max-width: calc(100% - 200px);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .caption.capitalize {
    text-transform: capitalize;
  }
  .close-but {
    height: 100px;
    width: 100px;
    padding: 29px !important;
    float: right;
    cursor: pointer;
    .close-but-icon {
      height: 42px;
      width: 42px;
      background: url(/assets/svg/iconExit42x42g.svg);
    }
  }
  .close-but:hover {
    background: rgba(0, 0, 0, .1);
  }
}
.titlebar.shadow {
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.subfilter.titlebar-hidden {
  margin-top: -80px !important;
  overflow: hidden;
  z-index: 0;
}

@media screen and (max-width: 1919px) {
  .titlebar {
    height: 80px;
    .caption{
      line-height: 80px;
    }
    .close-but {
      height: 80px;
      width: 80px;
      padding: 24px !important;
      .close-but-icon {
        height: 32px;
        width: 32px;
      }
    }
  }
}


.titlebar.blue {
  background: $blue;
  .caption {
    color: white !important;
  }
  .close-but-icon {
    background: url(/assets/svg/iconExit42x42.svg);
  }
}

.titlebar.orange {
  background: $orange;
  .caption {
    color: white !important;
  }
  .close-but-icon {
    background: url(/assets/svg/iconExit42x42.svg);
  }
}

.titlebar.yellow {
  background: $yellow;
  .caption {
    color: $textgray !important;
  }
  .close-but-icon {
    background: url(/assets/svg/iconExit42x42.svg);
  }
}

.titlebar.green {
  background: $green;
  .caption {
    color: white !important;
  }
  .close-but-icon {
    background: url(/assets/svg/iconExit42x42.svg);
  }
}

.titlebar.gray {
  background: #808080;
  .caption {
    color: white !important;
  }
  .close-but-icon {
    background: url(/assets/svg/iconExit42x42.svg);
  }
}

.titlebar.multi {
  background: #999999;
  .caption {
    color: white !important;
  }
  .close-but-icon {
    background: url(/assets/svg/iconExit42x42.svg);
  }
}
 #loading-container {
   position: absolute;
   top: 0;
   right: 0;
   transition: transform .3s ease;
   width: 100%;
   height: 90px;
   background: $orange;
   z-index: 1000;
   color: white;
   text-align: center;
   line-height: 90px;
   font-size: 2em;
   font-weight: 600;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
   transform: translateY(-100px);
 }
 #loading-container.active {
   transform: translateY(0px);
   &::before {
     content: '';
     width: 25px;
     height: 25px;
     opacity: 1;
     border-top: 4px solid rgba(255, 255, 255, 0.2);
     border-right: 4px solid rgba(255, 255, 255, 0.2);
     border-bottom: 4px solid rgba(255, 255, 255, 0.2);
     border-left: 4px solid white;
     border-radius: 50%;
     display: inline-block;
     margin: 32px 10px 0 0;
     vertical-align: top;
     transform: scale(1);
     animation: spinner .3s infinite linear;
   }
 }




#dashboard-ui-view.ng-enter, #dashboard-ui-view.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition: all .3s ease;
}

#dashboard-ui-view.ng-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

#dashboard-ui-view.ng-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#dashboard-ui-view.ng-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#dashboard-ui-view.ng-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
