<div id="mainWrapper">
	<div id="titlebarWrapper" class="shadow">
		<div class="titlebar blue">
			<div class="topFilterWrapper" ng-class="{ 'active' : displayedFilter == 'years' }" ui-sref="preSchedule.groups" ng-click="switchFilter('years')">Одељење</div>
			<div class="horBreak"> </div>
			<div class="topFilterWrapper" ng-class="{ 'active' : displayedFilter == 'floors' }" ui-sref="preSchedule.classrooms" ng-click="switchFilter('floors')">Учионица</div>
			<div class="horBreak"> </div>
			<div class="topFilterWrapper" ng-class="{ 'active' : displayedFilter == 'abc' }" ui-sref="preSchedule.teachers" ng-click="switchFilter('abc')">Предавач</div>
		</div>
		<!-- Group and classroom subfilters -->
		<div class="titlebar gray smaller" ng-if="filterData[displayedFilter].length > 1 && displayedFilter != 'abc'">
			<div class="topFilterWrapper" ng-repeat-start="thing in filterData[displayedFilter]"
				ng-click="switchSubFilter(untranslatedData[displayedFilter][filterData[displayedFilter].indexOf(thing)])"
				ng-class="{active: ( displayedSubFilter == untranslatedData[displayedFilter][filterData[displayedFilter].indexOf(thing)] ) }"
				> {{ thing }} </div>
			<div class="horBreak" ng-repeat-end> </div>
		</div>
		<!-- Teacher subfilters -->
		<div class="titlebar gray smaller" ng-if="filterData[displayedFilter].length > 1 && displayedFilter == 'abc'">
			<div id="topsub{{thing}}" class="topFilterWrapper sub" ng-repeat="thing in filterData[displayedFilter]"
				ng-click="scrollTo(thing)"
				ng-class="{
							active:  ( displayedSubFilter == thing ) ,
							disabled: !( elementExists(thing) ) 
						}"
				> {{ thing }} </div>
		</div>
	</div>
	<div id="pickersWrapper" ui-view>
		
	</div>
</div>