<div id="mainWrapper">
	<div id="titlebarWrapper" class="shadow">
		<div class="titlebar blue">
			<div class="topFilterWrapper active" ui-sref="preSchedule.groups">Одељење</div>
			<div class="horBreak"> </div>
			<div class="topFilterWrapper" ui-sref="preSchedule.classrooms">Учионица</div>
			<div class="horBreak"> </div>
			<div class="topFilterWrapper" ui-sref="preSchedule.teachers">Предавач</div>
		</div>
		<div class="titlebar gray">
			<div class="topFilterWrapper">Прва година</div>
			<div class="horBreak"> </div>
			<div class="topFilterWrapper active">Друга година</div>
			<div class="horBreak"> </div>
			<div class="topFilterWrapper">Трећа година</div>
			<div class="horBreak"> </div>
			<div class="topFilterWrapper">Четврта година</div>
		</div>
	</div>
	<div id="pickersWrapper" ui-view>
		
	</div>
</div>