<div id="preschedule-ui-view-subcontainer">
  <div class="titlebar subfilter">
    <div class="subfilter-wrapper" ng-repeat="subfilter in subfilters" ng-click="setSubfilter(subfilter)"  ng-class="{'active':displayedSubfilter == subfilter}">
      <span class="subfilter-text">
      	{{ 'GODINE_'+subfilter | translate }}
      </span>
    </div>
  </div>
  <div class="pickers-wrapper">
	  <div class="group-picker" 
         ng-repeat="group in groupsForYear()" 
         ng-attr-id="{{'group'+group.id}}"
         ui-sref="dashboard.schedule({type:'group', id: {{group.id}}})"
         >{{group.name}}</div>
  </div>
</div>