<div id="mainSidebarWrapper">
	<aside id="sidebarWrapper" ng-controller="sidebarCtrl">
		<section id="logoWrapper" class="text-center" ui-sref="root">Студент инфо</section>
		<a class="sidebarItemWrapper" ng-click="goToSchedule()" ng-class="{'active': state('preSchedule.groups') || state('preSchedule.classrooms') || state('preSchedule.teachers')}">
			<img class="sidebarItemIcon" src="images/iconSbRaspCas.svg">
			<span class="sidebarItem">Распоред часова</span>
		</a>
		<hr>
		<a class="sidebarItemWrapper" ui-sref="yearly" ng-class="{'active': state('yearly') || state('months')}">
			<img class="sidebarItemIcon" src="images/iconSbKalAkt.svg">
			<span class="sidebarItem">Календар активности</span>
		</a>
		<section id="bottomWrapper" class="text-center" ui-sref="about">
			<div id="bottomFaksLogoWrapper">
				<img id="bottomFaksLogo" src="images/imgBgLogoFaks.svg">
				<span id="bottomFaksSpan">Рачунарски факултет</span>
			</div>
			<div id="bottomTimeWrapper">
				{{currentTime}}
			</div>
		</section>
	</aside>
	 
	<div id="bgBlurWrapper">
		<div id="bgBlur"></div>
	</div>
 	
</div>