<div>
    <div>
        <h2>{{ 'IMPORT_DATA' | translate }}</h2>
    </div>
    <hr>
    <div>
        <form ng-submit="onSubmit()">
            <div class="form-group">
                <label for="import-type">{{ 'DATA_TYPE' | translate }}</label>
                <select name="import-type" id="import-type" ng-model="importType" class="form-control">
                    <option ng-repeat="type in types" value="{{ $index }}">{{ ::type.name | translate }}</option>
                </select>
            </div>
            <div class="form-group">
                <div class="well" ngf-drop ngf-select ng-model="file" name="import"
                     ngf-accept="'text/csv'"
                     gf-max-size="50MB">
                    {{ 'CLICK_TO_CHOOSE_FILE' | translate }}
                </div>
                <b>{{ file.name }}</b>
            </div>
            <div class="form-group">
                <button type="button" ui-sref="admin.overview" class="btn btn-alert">{{ 'CANCEL' | translate }}</button>
                <button type="submit" ng-disabled="!canSubmit" class="btn btn-primary">
                    {{ 'SAVE' | translate }}
                </button>
            </div>
        </form>
    </div>
</div>