<div id="form-wrapper">
  <div id="inner-form-wrapper" class="register-inner-form-wrapper">
    <form ng-submit="onSubmit()">
      <h1>{{ 'REGISTER_WELCOME' | translate }}</h1>
    
      <div class="input-wrapper disabled">
        <input class="form-input" ng-model="credentials.username" type="text" id="email-field" placeholder="{{ 'REGISTER_EMAIL' | translate }}" disabled>
        <div class="img-wrapper">
          <img class="icon" src="assets/svg/aboutIconMail.svg" alt="">
        </div>
      </div>
    
      <div class="input-wrapper">
        <input class="form-input" ng-model="credentials.password.password" type="password" id="password-field" placeholder="{{ 'REGISTER_PASSWORD' | translate }}">
        <div class="img-wrapper">
          <img class="icon" src="assets/svg/registerIconLockOutline.svg" alt="">
        </div>
      </div>
    
      <div class="input-wrapper">
        <input class="form-input" ng-model="credentials.password.passwordConfirmation" type="password" id="password-confirmation-field" placeholder="{{ 'REGISTER_PASSWORD_CONFIRM' | translate }}">
        <div class="img-wrapper">
          <img class="icon" src="assets/svg/registerIconLockFull.svg" alt="">
        </div>
      </div>
    
      <button id="send-button">{{ 'REGISTER_SIGNUP' | translate }}</button>
    </form>
  </div>
</div>