<div id="aboutWrapper">
	<div id="topAboutWrapper">
		<div class="aboutColumn">
			<img src="images/aboutFaksLogo.svg" alt="" id="bigLogoFaks">
			<span class="infoItem"><img src="images/aboutIconPhone.svg" alt="" class="infoIcon">(011) 26 - 27 - 613</span>
			<span class="infoItem"><span class="infoIcon"> </span>(011) 26 - 33 - 321</span>
			<span class="infoItem"><img src="images/aboutIconMail.svg" alt="" class="infoIcon">raf@raf.edu.rs</span>
			<span class="infoItem"><span class="infoIcon"> </span>sekretarijat@raf.edu.rs</span>
			<span class="infoItem"><span class="infoIcon"> </span>marketing@raf.edu.rs</span>
			<span class="infoItem"><img src="images/aboutIconWeb.svg" alt="" class="infoIcon">raf.edu.rs</span>
		</div>
		<div class="aboutColumn">
			<span class="miniCaption">Пројекат изведен у сарадњи са: </span>
			<img src="images/aboutLabsLogo.svg" alt="" id="bigLogoLabs">
			<span class="infoItem"><img src="images/aboutIconWeb.svg" alt="" class="infoIcon">labs.devana.rs</span>
			<div id="peopleWrapper">
				<div class="peopleSubWrapper">
					<span class="peopleHead">Учесници пројекта: </span>
					<span class="peopleItem">Никола Вуковић</span>
					<span class="peopleItem">Милан Вућич</span>
					<span class="peopleItem">Никола Нинковић</span>
					<span class="peopleItem">Небојша Урошевић</span>
				</div>
				<div class="peopleSubWrapper">
					<span class="peopleHead">Ментори: </span>
					<span class="peopleItem">Антун Дебак</span>
					<span class="peopleItem">Владимир Преловац</span>
					<span class="peopleItem">Миљан Текић</span>
					<span class="peopleItem">Богдан Хабић</span>
				</div>
			</div>
		</div>
	</div>
	
	<div id="feedbackWrapper" class="titlebar bottom shadow noflex" ng-controller="aboutCtrl" ng-class="{'active' : showKeyboard}">
		<h2>Пошаљите нам сугестије и предлоге: </h2>
		<div id="inputWrapper">
			<textarea name="" id="write" placeholder="Додирните за тастатуру" ng-focus="showKeyboard = true"></textarea>
			<button id="cancelFeedback" class="feedbackButton" ng-click="showKeyboard = false">Откажи</button>
			<button id="sendFeedback" class="feedbackButton" ng-click="sendFeedback()">Пошаљи</button>
			<si-keyboard></si-keyboard>
		</div>
	</div>

</div>